/*LOGIN*/
body {
  font-family: 'Montserrat', Helvetica,Arial,sans-serif;
  color: #2c2c2e;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #006599;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
a:hover, a:focus {
  text-decoration: none;
  color: #00a8ff;
  outline: none;
}

img {
  max-width: 100%;
}

form {
  margin-bottom: 0;
}

button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-transform: uppercase;
  border: 0;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 1px;
}
button:focus {
  outline: none !important;
}

.loading {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../image/loading.jpg);
  height: 100%;
  z-index: 99999;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #ffffff;
}
.loading:before, .loading:after {
  position: absolute;
  top: 0;
  content: "";
  background-color: #E6EFF4;
  height: 100%;
}
.loading:before {
  left: 0;
  width: 105px;
}
.loading:after {
  right: 0;
  width: 82px;
}
@media screen and (min-height: 1200px) {
  .loading:before {
    width: 145px;
  }
  .loading:after {
    width: 110px;
  }
}
.loading img {
  position: absolute;
  top: 45%;
  left: 45%;
}

.icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.icon-wrap {
  display: inline-block;
  float: right;
}

.icon {
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  background-image: url(../image/icon.png);
  background-position: -9px -454px;
  background-repeat: no-repeat;
}
.icon.favorite-icon {
  background-image: url(../image/icon.png);
  background-position: -9px -492px;
  background-repeat: no-repeat;
}
.icon.favorite-icon.start-fill {
  background-position: -9px -452px;
}
.icon.clear-friend-icon {
  background-position: -9px -535px;
}
.icon.not-accept-icon {
  background-position: -9px -628px;
}
.icon.accept-icon {
  background-position: -9px -584px;
}
.icon.add-friend-icon {
  background-position: -9px -666px;
}
.icon.checked-icon {
  background-position: -9px -755px;
  display: none;
}
.icon.delete-icon {
  background-position: -79px -350px;
}
.icon.play-icon {
  background-position: -77px -432px;
}
.icon.pause-icon {
  background-position: -78px -397px;
}
.icon.void-icon {
  background-position: -77px -460px;
}
.icon.clear {
  background-position: -77px -492px;
}
.icon.full-screen-icon {
  background-position: -72px -525px;
}
.icon.end-call-icon {
  background-position: -72px -571px;
}
.icon.micro-icon {
  background-position: -72px -624px;
}
.icon.video-icon {
  background-position: -72px -674px;
}
.icon.top-mes-icon {
  background-position: -68px -719px;
}
.icon.close-icon {
  background-position: -72px -760px;
}
.icon.call-icon {
  background-position: -137px -81px;
}
.icon.video-call-icon {
  background-position: -195px -81px;
}
.icon.phone-icon {
  background-position: -137px -142px;
}
.icon.video-icon-small {
  background-position: -186px -147px;
}
.icon.unfriend-icon {
  background-position: -136px -539px;
}
.icon.close-dark-icon {
  background-position: -136px -580px;
}
.icon.add-more-friend {
  background-position: -950px -20px;
}
.icon.video-call {
  background-position: -897px -20px;
}
.icon.voice-chat {
  background-position: -839px -20px;
}
.icon.send-contact-icon {
  background-position: -253px -955px;
}
.icon.plane-icon {
  background-position: -136px -623px;
}
.icon.map-icon {
  background-position: -136px -659px;
}
.icon.send-location-icon {
  background-position: -195px -955px;
}
.icon.show-screen-icon {
  background-position: -136px -703px;
}
.icon.change-name-icon {
  background-position: -195px -22px;
}
.icon.group-btn-icon {
  background-position: -192px -247px;
}
.icon.setting-btn-icon {
  background-position: -189px -196px;
}
.icon.check-blue-icon-small {
  background-position: -187px -286px;
}
.icon.retake-icon {
  background-position: -187px -315px;
}
.icon.send-icon {
  background-position: -187px -362px;
}

input.form-control:focus {
  outline: none;
  border: 0;
  box-shadow: none;
}

.logo {
  text-align: center;
  padding-top: 90px;
}

.main-from {
  max-width: 500px;
  margin: 75px auto 30px;
  text-align: center;
}
.main-from label {
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: #2c2c2e;
}
.main-from input,
.main-from select,
.main-from textarea {
  resize: none;
  font-size: 16px;
  padding: 20px 10px 3px 5px;
  display: block;
  width: 340px;
  border: none;
  border-bottom: 2px solid #ebebeb;
  font-weight: 300;
}
.main-from input:focus,
.main-from select:focus,
.main-from textarea:focus {
  outline: none;
}
.main-from textarea:invalid ~ label {
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: #2c2c2e;
}
.main-from input:focus ~ label, .main-from input:valid ~ label,
.main-from textarea:focus ~ label, .main-from textarea:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #006599;
}
.main-from form {
  margin-bottom: 2rem;
  margin: 0 auto 25px;
}
.main-from .primary.login {
  margin-bottom: 15px;
}
.main-from .des {
  font-weight: 300;
}

.group {
  position: relative;
  margin: 0 auto 22px;
  display: inline-block;
}

/*bottom bar */
.bar {
  position: relative;
  display: block;
  width: 340px;
}
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #006599;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after,
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width: 50%;
}

/*highlight */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight,
textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* input animation */
@-webkit-keyframes inputHighlighter {
  from {
    background: #66cbff;
  }

  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #66cbff;
  }

  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #66cbff;
  }

  to {
    width: 0;
    background: transparent;
  }
}
/*Actions*/
.actions {
  overflow: hidden;
  margin-top: 12px;
}
.actions .primary {
  max-width: 340px;
  border: 1px solid #99c1d6;
  color: white;
  background: #99c1d6;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  width: 100%;
}
.actions .primary:hover {
  border-color: #99c1d6;
  color: #99c1d6;
  background: white;
}
.actions .action-link {
  display: block;
  margin: 15px 0 0;
}
.actions .action-link.sign-in {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-top: 17px;
}

.signin-google {
  text-transform: inherit;
  width: 100%;
  color: 2b70f5;
  letter-spacing: 0;
  border: 1px solid #2b70f5;
  background-color: #ffffff;
  margin-top: 30px;
  position: relative;
  padding-left: 55px;
  max-width: 340px;
}
.signin-google:before {
  background-image: url(../image/icon.png);
  background-position: 8px -338px;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 27px;
  background-color: #2b70f5;
  color: #ffffff;
  -webkit-border-radius: 30px 30px 0px 30px;
  -moz-border-radius: 30px 30px 0px 30px;
  -ms-border-radius: 30px 30px 0px 30px;
  border-radius: 30px 30px 0px 30px;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  height: 100%;
  width: 65px;
}
.signin-google:hover:before {
  -webkit-border-radius: 30px 0 0px 30px;
  -moz-border-radius: 30px 0 0px 30px;
  -ms-border-radius: 30px 0 0px 30px;
  border-radius: 30px 0 0px 30px;
}

/*REGISTER*/
.register-step-01 .actions > p {
  margin: 15px 0 45px;
}

.register-step-02 .des {
  margin: 0 0 4.7rem;
  padding-top: 10px;
}
.register-step-02 .actions {
  margin-top: 17px;
}

.forgot-form .des {
  font-size: 18px;
  margin-top: -13px;
  margin-bottom: 47px;
}

.reset-password .des {
  margin-bottom: 50px;
  font-size: 18px;
  margin-top: -5px;
}

.sidebar {
  background-color: #eff7fc;
}

.team .sidebar {
  background-color: #F9F9F9;
  border-right: 1px solid #EAEDEF;
  box-shadow: 0 0 3px #9C9E9F;
}

.team #sidebar-wrapper-right {
  background-color: #F9F9F9;
  box-shadow: none;
  border-left: 1px solid #EAEDEF;
}

.small-logo {
  max-width: 65px;
  height: auto;
  width: auto;
  margin: 15px auto;
}
.small-logo img {
  display: block;
  width: auto;
  max-width: 100%;
}

.navbar-toggle-content {
  width: 100%;
  text-align: center;
}

.navbar-toggle {
  width: 35px;
  height: 35px;
  background-image: url(../image/icon.png);
  background-position: -13px -22px;
  background-repeat: no-repeat;
  display: block;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  float: none;
}

.avatar-wrap {
  padding: 10px;
  margin: 10px;
  display: table;
  border-bottom: 1px solid #e3e8eb;
}
.avatar-wrap .title {
  padding-left: 23px;
  display: table-cell;
  vertical-align: middle;
}
.avatar-wrap.avatar-item {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.avatar-wrap.avatar-item .num {
  top: -5px;
  border: 2px solid #fff;
  width: 22px;
  height: 22px;
  padding: 0 5px;
}
.avatar-wrap.avatar-item.sidebar-icon {
  padding-top: 0;
  margin-top: 0;
}
.avatar-wrap.sidebar-icon .avatar {
  overflow: visible;
}

.num {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #fe7000;
  top: 10px;
  right: -4px;
  width: 20px;
  height: 20px;
  padding: 2px 5px;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.sidebar-nav-content {
  text-align: center;
}
.sidebar-nav-content .avatar-wrap.avatar-item .avatar {
  display: table-cell;
  cursor: pointer;
}

.avatar-icon {
  background-image: url(../image/icon.png);
  background-position: -5px -75px;
  background-repeat: no-repeat;
}
.avatar-icon.recent {
  background-position: -15px -75px;
}
.avatar-icon.contact {
  background-position: -13px -135px;
}
.avatar-icon.teams {
  background-position: -8px -185px;
}
.avatar-icon.pending {
  background-position: -9px -237px;
}
.avatar-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.avatar {
  display: table-cell;
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.avatar img {
  max-width: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.avatar img.portrait {
  width: 100%;
  height: auto;
}
.avatar .online,
.avatar .offline {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  font-size: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #ffffff;
}
.avatar .online:after,
.avatar .offline:after {
  background-color: #006599;
  width: 10px;
  height: 10px;
  content: "";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  top: 3px;
  left: 3px;
  position: absolute;
}
.avatar .offline:after {
  background-color: #ffffff;
  border: 1px solid #006599;
}
.avatar.no-avatar {
  color: #ffffff;
}
.avatar.no-avatar .fake-img {
  width: 50px;
  height: 50px;
  background-color: #006599;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  position: relative;
}
.avatar.no-avatar .fake-img span {
  font-size: 30px;
  /* visibility:hidden; */
  display: block;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 14px;
}
.avatar.no-avatar .fake-img span:first-letter {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 999999999999999999px;
}

.left-side-bar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #eff7fc;
  display: none;
}
.left-side-bar-footer button {
  background-color: transparent;
  width: 50%;
  border-radius: 0;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 7px 0;
}
.left-side-bar-footer button .icon {
  float: none;
}
.left-side-bar-footer button.active {
  background-color: #d8e3ea;
}

#wrapper {
  margin-left: 90px;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}
#wrapper.toggled {
  margin-left: 270px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 270px;
}
#wrapper.toggled .title {
  display: table-cell;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -270px;
}
#wrapper.toggled .nav-stacked .item {
  padding: 0 20px;
}
#wrapper.toggled .nav-stacked .item .avatar {
  float: left;
}
#wrapper.toggled .left-side-bar-footer {
  display: block;
}
#wrapper.toggled .sidebar-nav-content .avatar-wrap.avatar-item .avatar {
  display: block;
}
#wrapper.toggled-right #sidebar-wrapper-right {
  width: 270px;
  border-left: 1px solid #ebebeb;
}
#wrapper.toggled-right #sidebar-wrapper-right .content-view-profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}
#wrapper.toggled-right #sidebar-wrapper-right .navbar-toggle-content {
  border-bottom: 0;
}
#wrapper.toggled-right .col-right {
  width: calc(100% - 27% - 270px);
}
#wrapper.toggled-right .chatbox {
  /* width: calc(100% - 270px); */
}
#wrapper.toggled-right .talk-actions .navbar-toggle {
  display: none;
}
#wrapper .title {
  height: 50px;
  white-space: nowrap;
  display: none;
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrapper .chatbox {
  width: 100%;
  display: flex;
  flex: 2 0 0%;
  flex-direction: column;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}

.view-profile .content-view-profile {
  text-align: center;
}
.view-profile .avatar-wrap {
  text-align: center;
  border-bottom: 0;
  margin: 0 auto;
}
.view-profile .avatar {
  width: 128px;
  height: 128px;
}
.view-profile .avatar.no-avatar .fake-img {
  width: 128px;
  height: 128px;
}
.view-profile .avatar.no-avatar .fake-img span {
  font-size: 85px;
  padding: 40px 33px;
}
.view-profile .nick-name {
  font-size: 18px;
  font-weight: 500;
  margin: 13px 0;
}
.view-profile .view-profile-action {
  margin-top: 5px;
}
.view-profile .view-profile-action button {
  text-transform: inherit;
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  background: white;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  padding: 7px 10px;
}
.view-profile .view-profile-action button:hover {
  border-color: #b7b7b7;
  color: white;
  background: #b7b7b7;
}
.view-profile .view-profile-action button:hover {
  color: white;
}

#sidebar-wrapper,
#sidebar-wrapper-right {
  z-index: 9999;
  position: fixed;
  left: 270px;
  width: 90px;
  height: 100%;
  margin-left: -270px;
  overflow: hidden;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}
#sidebar-wrapper.sidebar.right,
#sidebar-wrapper-right.sidebar.right {
  right: 0;
  left: auto;
}

#sidebar-wrapper-right {
  left: auto;
  right: 0;
  top: 0;
  background-color: #eff7fc;
  width: 70px;
}
#sidebar-wrapper-right .content-view-profile {
  display: none;
}
#sidebar-wrapper-right .navbar-toggle-content {
  height: 70px;
  /* border-bottom: 1px solid $border-default-color; */
  padding: 15px;
}

#page-content-wrapper {
  padding: 0 15px;
}

/*Page content*/
.col-left {
  border-right: 1px solid #ebebeb;
  padding: 0;
  width: 27%;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .col-left {
    height: auto;
  }
}

.title-icon {
  /* display: inline-block; */
  /* float: right; */
  /* padding: 15px 0; */
}

.add-new-chat {
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 10px;
}

.title-col {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 70px;
  flex: 1;
  align-items: center;
}
.title-col .page-title {
  font-size: 18px;
  font-weight: 500;
  /* display: inline-block; */
  /* float: left; */
  /* line-height: 70px; */
  padding: 0 0 0 15px;
  flex-grow: 1;
}
.title-col .title-item.avatar-icon {
  width: 40px;
  margin-right: 10px;
  align-items: flex-end;
}

.search-wrapper {
  text-align: center;
  margin: 10px 0 0;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 60px;
}
.search-wrapper input {
  border: 0;
  height: 50px;
  border-radius: 30px;
  background-color: #f5f5f5;
  width: 93%;
  text-align: center;
  position: relative;
  display: inline-block;
  box-shadow: none;
}
.search-wrapper .action.search {
  position: absolute;
  top: 5px;
  background: none;
  color: #7b95a3;
  left: calc((100% - 120px)/2);
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.search-wrapper .actions.active .action.search {
  left: 30px;
}

/*LIST CHAT*/
.friend, .session-chat, .channel {
  padding: 10px 15px;
  border-bottom: 0;
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  position: relative;
}
.friend.active, .session-chat.active, .channel.active {
  background-color: #f7fbfd;
}
.friend .avatar, .session-chat .avatar, .channel .avatar {
  display: inline-block;
  float: left;
}
.friend .status, .session-chat .status, .channel .status {
  font-size: 14px;
}
.friend .nick-name, .session-chat .nick-name, .channel .nick-name {
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
}
.friend .contact-info, .session-chat .contact-info, .channel .contact-info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  font-weight: 300;
  width: calc(100% - 55px);
  float: left;
  margin-top: 5px;
  text-align: left;
}
.friend .contact-info .header-info, .session-chat .contact-info .header-info, .channel .contact-info .header-info {
  display: flex;
  align-items: center;
}
.friend .des, .session-chat .des, .channel .des {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.friend .time, .session-chat .time, .channel .time {
  font-size: 12px;
  font-weight: 300;
  color: #7b95a3;
  margin-left: 20px;
}
.friend .mess, .session-chat .mess, .channel .mess {
  margin: 15px 0;
}
.friend.unread .contact-info, .session-chat.unread .contact-info, .channel.unread .contact-info {
  font-weight: 400;
}

.recent-list .contact-info .time {
  position: absolute;
  top: 15px;
  right: 15px;
}
.recent-list .contact-info .nick-name {
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
}
.recent-list .friend:hover {
  cursor: pointer;
  background-color: #f3f4f4;
}

/*CHATBOX*/
.col-right {
  padding: 0;
  width: calc(100% - 27% - 70px);
  height: 100vh;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.col-right .chatbox-header,
.col-right .contacbox-header,
.col-right .calling-header {
  width: 100%;
  border-bottom: 1px solid #e3e8eb;
  overflow: hidden;
  height: 70px;
}
.col-right .chatbox-header .avatar-wrap,
.col-right .contacbox-header .avatar-wrap,
.col-right .calling-header .avatar-wrap {
  width: 100%;
  margin: 0;
  padding: 20px;
}
.col-right .chatbox-header .avatar-wrap .avatar,
.col-right .contacbox-header .avatar-wrap .avatar,
.col-right .calling-header .avatar-wrap .avatar {
  float: left;
}
.col-right .chatbox-header .friend,
.col-right .contacbox-header .friend,
.col-right .calling-header .friend {
  padding-left: 0;
  padding-right: 0;
}

.talk-list-item .session-chat .time {
  position: static;
  float: left;
  display: inline-block;
  margin-left: 20px;
}
.talk-list-item .session-chat .nick-name {
  display: inline-block;
  float: left;
}
.talk-list-item .session-chat .mess {
  display: block;
  width: 100%;
  clear: left;
  font-size: 15px;
}
.talk-list-item .session-chat .mess > img {
  margin-top: 15px;
}
.talk-list-item .session-chat .translate .icon {
  background-image: url(../image/icon.png);
  background-position: -15px -398px;
  background-repeat: no-repeat;
  width: 20px;
  height: 40px;
  border-top: 2px solid #e5eaed;
  margin-top: 10px;
  padding-top: 10px;
  display: inline-block;
  float: left;
}
.talk-list-item .session-chat .translate .mess {
  display: inline-block;
  float: left;
  width: 85%;
  clear: none;
  padding: 10px;
  margin-top: 10px;
}

.talk-actions {
  text-align: right;
  position: relative;
  z-index: 101;
}
.talk-actions .item {
  display: inline-block;
  height: 40px;
  margin-left: 10px;
}
.talk-actions .item:hover a {
  opacity: 0.6;
}
.talk-actions .item a {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  float: none;
}
.talk-actions .item.navbar-toggle {
  display: none;
}
.talk-actions .item.navbar-toggle a {
  background: none;
}
.talk-actions .item:last-child {
  margin-right: 10px;
}

.item-setting,
.custom-item {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  margin-top: 20px;
  text-align: left;
}
.item-setting div,
.custom-item div {
  vertical-align: middle;
}
.item-setting .icon,
.custom-item .icon {
  background-image: url(../image/icon.png);
  background-position: -135px -194px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #95aab5;
  margin-right: 10px;
  float: left;
}
.item-setting .icon-content,
.custom-item .icon-content {
  width: 35px;
  height: 35px;
}
.item-setting .text,
.custom-item .text {
  text-align: left;
  width: 60%;
  padding: 7px 0;
}
.item-setting.your-file, .item-setting.public-search,
.custom-item.your-file,
.custom-item.public-search {
  margin: 0;
  padding-top: 0;
}
.item-setting.public-search .icon,
.custom-item.public-search .icon {
  background-position: -136px -235px;
}
.item-setting .control,
.custom-item .control {
  padding: 5px 0;
}
.item-setting .control label,
.custom-item .control label {
  margin: 0;
}

.custom-item .icon {
  background-color: transparent;
}
.custom-item .icon.list-icon {
  background-position: -136px -345px;
}
.custom-item .icon.file-icon {
  background-position: -136px -305px;
}
.custom-item .icon.icon-right {
  background-position: -136px -267px;
}

/*slider*/
label.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}
label.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7b95a3;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  border: 2px solid transparent;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

input:checked + .slider {
  background-color: #ffffff;
  border-color: #006599;
}

input:focus + .slider {
  box-shadow: 0 0 1px #006599;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background-color: #006599;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.actions.log-out, .actions.unfriend {
  margin: auto;
  margin-bottom: 80px;
}
.actions.log-out .logout-icon, .actions.unfriend .logout-icon {
  background-image: url(../image/icon.png);
  background-position: -393px -955px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.actions.log-out .wrap, .actions.unfriend .wrap {
  display: table;
  margin: 0 auto;
  cursor: pointer;
}
.actions.log-out .wrap:hover, .actions.unfriend .wrap:hover {
  opacity: 0.6;
}
.actions.log-out .icon,
.actions.log-out .text, .actions.unfriend .icon,
.actions.unfriend .text {
  display: table-cell;
  vertical-align: middle;
}
.actions .icon {
  margin-right: 10px;
}

/*TOOLBOX*/
.toolbox {
  border-top: 1px solid #e3e8eb;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-transform: uppercase;
  background-color: #ffffff;
  z-index: 100;
  bottom: 0;
}

.chat-input__content textarea::-webkit-input-placeholder {
  color: #acacac;
}

.chat-input__content textarea::-moz-placeholder {
  color: #acacac;
}

.chat-input__content textarea:-ms-input-placeholder {
  color: #acacac;
}

.chat-input__content textarea:-moz-placeholder {
  color: #acacac;
}

.chat-input__content {
  position: relative;
}
.chat-input__content textarea, .chat-input__content input {
  border: 0;
  width: 89%;
  padding: 15px;
  font-size: 14px;
  font-weight: 300;
}
.chat-input__content textarea:active, .chat-input__content textarea:focus, .chat-input__content input:active, .chat-input__content input:focus {
  outline: none;
  box-shadow: none;
}
.chat-input__content .icon {
  position: absolute;
  bottom: 7px;
  right: 30px;
  background: none;
}
.chat-input__content .emotion-icon {
  background-image: url(../image/icon.png);
  background-position: -310px -949px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
}

.chat-input-tools-btn {
  position: relative;
  display: inline-block;
  float: left;
  margin: 10px 10px 7px 10px;
  width: 30px;
  height: 30px;
}
.chat-input-tools-btn .inputfile {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.chat-input-tools-btn a {
  display: block;
  width: 35px;
  height: 35px;
}
.chat-input-tools-btn:hover .icon-tool {
  opacity: 0.6;
}
.chat-input-tools-btn .inputfile-container {
  background-image: url(../image/icon.png);
  background-position: -25px -955px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
}
.chat-input-tools-btn.take-photo {
  background-image: url(../image/icon.png);
  background-position: -88px -955px;
  background-repeat: no-repeat;
}
.chat-input-tools-btn .send-voice {
  background-image: url(../image/icon.png);
  background-position: -142px -955px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
.chat-input-tools-btn.send-location {
  background-image: url(../image/icon.png);
  background-position: -195px -955px;
  background-repeat: no-repeat;
}
.chat-input-tools-btn.send-contact {
  background-image: url(../image/icon.png);
  background-position: -253px -955px;
  background-repeat: no-repeat;
  position: static;
}

/*Void-chat*/
.voice-chat-box,
.sent-contact-box,
.add-users-box {
  font-size: 14px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  width: 260px;
  background: #ffffff;
  bottom: 60px;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  /* .time { */
  /* margin-top: 15px; */
  /* } */
}

.decord-actions {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  align-items: center;
}
.decord-actions .item {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  text-align: center;
}
.decord-actions .item.delete {
  text-align: left;
}
.decord-actions .item.accept {
  text-align: right;
}
.decord-actions .item .icon {
  float: none;
  opacity: 0;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.decord-actions .decord-icon {
  display: none;
  width: 35px;
  height: 35px;
}

.record-btn {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 1px solid #086aa2;
  cursor: pointer;
}
.record-btn:after {
  content: "";
  width: 68px;
  height: 68px;
  top: 50%;
  left: 50%;
  background-color: #086aa2;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.record-btn span {
  color: #fff;
  position: relative;
  line-height: 80px;
  font-size: 12px;
  z-index: 1;
}

.after-rec .record-btn:after {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.after-rec .record-btn span {
  display: none;
}
.after-rec .decord-actions .icon {
  opacity: 1;
}

.void-chat {
  display: flex;
  align-items: center;
  margin: 10px;
}
.void-chat .icon {
  float: none;
}

.decored-wrap {
  display: inline-block;
}

.decored-bar {
  width: 250px;
  height: 37px;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}
.decored-bar a {
  padding: 9px 12px;
  display: block;
  height: 37px;
  background-color: #006599;
}
.decored-bar .time-run {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
}
.decored-bar .time-run a {
  width: 250px;
  background-color: #78aecb;
}
.decored-bar .time-run .time {
  color: blue;
}
.decored-bar .icon {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 100%;
}
.decored-bar .time {
  background-color: #ffffff;
  border-radius: 16px;
  color: #78aecb;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  float: right;
  position: static;
  width: 50px;
  text-align: center;
}
.decored-bar .line {
  border-bottom: 1px solid #fff;
  height: 1px;
  padding-top: 9px;
  margin-left: 20px;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(57, 136, 181, 0.4) inset;
  }

  65% {
    box-shadow: 0px 0px 5px 13px rgba(57, 136, 181, 0.5) inset;
  }

  90% {
    box-shadow: 0px 0px 5px 13px rgba(57, 136, 181, 0) inset;
  }
}
/*Sent contact*/
form.sent-contact {
  margin: 0;
}

.sent-contact-box, .add-users-box {
  width: 500px;
  min-height: 470px;
  padding: 20px;
  text-transform: capitalize;
  left: 20px;
  height: auto;
  max-height: 550px;
}

.sent-contact-box .group-header, .add-users-box .group-header {
  text-align: left;
  padding-bottom: 15px;
  padding-top: 5px;
}
.sent-contact-box .group-header label, .add-users-box .group-header label {
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
}
.sent-contact-box .group-header a.close-form, .add-users-box .group-header a.close-form {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}
.sent-contact-box .group-header .add-member, .add-users-box .group-header .add-member {
  border-bottom: 2px solid #e3e8eb;
  overflow: hidden;
}
.sent-contact-box .group-header .add-member .search-person, .add-users-box .group-header .add-member .search-person {
  height: auto;
}
.sent-contact-box .group-header .add-member .search-person .chosen-container, .add-users-box .group-header .add-member .search-person .chosen-container {
  height: auto;
  margin: 0;
  clear: left;
  float: none;
}
.sent-contact-box .group-header .add-member .search-person .chosen-container .chosen-choices, .add-users-box .group-header .add-member .search-person .chosen-container .chosen-choices {
  width: auto;
  display: block;
  position: relative;
  bottom: 0;
  background-color: #fff;
}
.sent-contact-box .group-header .add-member .search-person .chosen-container .chosen-choices li, .add-users-box .group-header .add-member .search-person .chosen-container .chosen-choices li {
  height: 27px;
}
.sent-contact-box .group-header .add-member .search-person .chosen-container .chosen-choices li.search-field input, .add-users-box .group-header .add-member .search-person .chosen-container .chosen-choices li.search-field input {
  width: auto;
}
.sent-contact-box .group-header .add-member .search-person .chosen-container .chosen-choices li .group, .add-users-box .group-header .add-member .search-person .chosen-container .chosen-choices li .group {
  margin: 0;
}
.sent-contact-box .group-header .add-member .search-person .chosen-container .chosen-choices li.search-field, .add-users-box .group-header .add-member .search-person .chosen-container .chosen-choices li.search-field {
  height: 35px;
}

.group-footer .page-main-action {
  padding: 15px 0 0;
  height: auto;
  text-align: right;
}
.group-footer .page-main-action button {
  width: 120px;
  height: 35px;
  font-size: 14px;
  padding: 9px;
  display: inline-block;
}

.add-users-box {
  top: 75px;
  left: auto;
  right: 10px;
  bottom: auto;
}

.col-right .chatbox-header {
  overflow: visible;
}
.col-right .chatbox-header input {
  border-color: transparent;
  outline: none;
  cursor: text;
  border-width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-right .chatbox-header input:focus {
  border-color: #ddd;
  box-shadow: none;
}
.col-right .chatbox-header .contact-info {
  /* width:auto; */
}
.col-right .chatbox-header .contact-info button {
  border: 0;
  padding: 0;
  background: none;
}
.col-right .chatbox-header .contact-info .nick-name {
  display: flex;
  overflow: visible;
}

/*send location*/
.sent-location-box {
  width: 500px;
  min-height: 470px;
  padding: 20px;
  text-transform: capitalize;
  left: 20px;
  height: auto;
  max-height: 550px;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  background: #ffffff;
  bottom: 60px;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  text-align: center;
  margin-top: 15px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .sent-location-box {
    width: 380px;
  }
}
.sent-location-box .group-header {
  text-align: left;
  overflow: hidden;
}
.sent-location-box .group-header a.close-form {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}
.sent-location-box .search-wrapper .action.search {
  left: calc((100% - 200px)/2);
}
.sent-location-box .icon.plane-icon {
  display: inline-block;
  float: left;
  margin: 25px 0;
}
.sent-location-box .search-wrapper {
  width: calc(100% - 30px);
  float: right;
}
.sent-location-box .location-name {
  padding: 20px 0;
  text-align: left;
}
.sent-location-box .location-name .icon.map-icon {
  float: left;
  margin-right: 10px;
}
.sent-location-box .location-wrap {
  overflow: hidden;
}
.sent-location-box .sent-location.popup-search-add {
  margin-bottom: 0;
}

.location-sent {
  display: flex;
  align-items: center;
  max-width: 410px;
}
.location-sent .location-name {
  margin-top: 20px;
}
.location-sent iframe {
  border-radius: 15px;
  box-shadow: 0 0 8px #ddd;
}
@media screen and (min-width: 768px) and (max-width: 992) {
  .location-sent iframe {
    width: 240px;
  }
}
@media screen and (max-width: 600px) {
  .location-sent iframe {
    width: 240px;
  }
}
@media screen and (max-width: 460px) {
  .location-sent iframe {
    width: 190px;
  }
}

/*Take a photo*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  z-index: 100;
}

.cammera-box {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: 100px;
  left: 50px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  z-index: 9999;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .cammera-box {
    width: 400px;
  }
}
@media screen and (max-width: 460px) {
  .cammera-box {
    width: 300px !important;
    height: 400px;
    left: 10px;
  }
  .cammera-box .cam-content {
    height: auto !important;
  }
}
@media screen and (max-width: 560px) {
  .cammera-box {
    width: 400px;
  }
}
.cammera-box .group-header {
  padding: 15px 0 30px;
  text-transform: capitalize;
  font-size: 18px;
}
.cammera-box .group-header label {
  font-weight: 500;
}
.cammera-box .cam-content {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.cammera-box .cam-actions {
  padding: 30px 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}
.cammera-box .cam-actions .to-right {
  float: right;
}
.cammera-box .cam-actions .to-left {
  float: left;
}

/*===============================*/
.change-profile-reponsive {
  display: none;
}

.personal-channel {
  display: table;
}

.container {
  width: 100% !important;
  overflow: hidden;
  padding: 0;
}

/*CONTACT REQUEST*/
.pending-request {
  overflow: hidden;
}
.pending-request .friend .avatar {
  overflow: visible;
}
.pending-request .friend .avatar .num {
  top: -10px;
}

/*FAVORITE*/
.favorite-list .content .friend .nick-name,
.all-contact-list .content .friend .nick-name,
.pending-wrap .content .friend .nick-name,
.add-friend-wrap .content .friend .nick-name,
.add-mem-wrap .content .friend .nick-name {
  display: inline-block;
  padding: 10px 0;
}

.favorite-list .content {
  min-height: 80px;
}

.team-favorite-wrap .search-wrapper .action.search {
  left: calc((100% - 200px)/2);
}

.head {
  background-color: #f5f5f5;
  position: relative;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #95aab5;
  overflow: hidden;
}
.head .title-icon {
  display: inline-block;
  float: right;
  padding: 0;
  position: absolute;
  right: 0;
  top: -6px;
}

.add-contact-wrap .search-wrapper .action.search {
  left: calc((100% - 270px)/2);
}

.contacbox .navbar-toggle {
  margin: 20px;
}

.ads-wrap {
  text-align: center;
  margin: 30px 0;
}
.ads-wrap .block {
  margin-bottom: 30px;
}
.ads-wrap .block .actions {
  margin-top: 30px;
}
.ads-wrap .block .action.btn {
  border: 1px solid #7b95a3;
  color: #7b95a3;
  background: transparent;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  text-transform: capitalize;
  font-size: 14px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.ads-wrap .block .action.btn:hover {
  border-color: #7b95a3;
  color: transparent;
  background: #7b95a3;
}
.ads-wrap .block .action.btn:hover {
  color: white;
}

/*PENDING PAGE*/
.icon.close {
  opacity: 0.9;
}
.icon.close:hover {
  opacity: 0.5;
}

.pending-wrap,
.add-friend-wrap {
  /* width:75% !important; */
  overflow: hidden;
}
.pending-wrap .friend .contact-info .icon.not-accept-icon,
.add-friend-wrap .friend .contact-info .icon.not-accept-icon {
  margin-right: 25px;
}

/*CREATE YOUR TEAM*/
.team .header .page-title {
  background-color: #F9F9F9;
  border-bottom: 1px solid #E2E6EA;
}

.header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e3e8eb;
  height: 70px;
  position: relative;
}
.header .page-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 70px;
  background-color: #eff6fc;
}
.header .btn-close {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 0;
}
.header .btn-close .close {
  font-size: 0;
  background-image: url(../image/icon.png);
  background-position: -9px -715px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: block;
}

.create_form .main-from {
  max-width: 70% !important;
}

.create_form .main-from .search-person .chosen-container {
  width: 100%;
}
.create_form .main-from .search-person .chosen-container .chosen-choices {
  width: 100% !important;
}

.create_form .main-from .add-member .icon-wrap {
  top: 5px !important;
}
.create_form .main-from .add-member .mem-list .avatar {
  width: 50px;
  height: 50px;
}

.create_form .main-from,
.team-pending-form .main-from,
.team-add-favorite-form .main-from {
  max-width: 600px;
  min-height: 450px;
}
.create_form .main-from input,
.team-pending-form .main-from input,
.team-add-favorite-form .main-from input {
  border-width: 1px;
  width: 100%;
}
.create_form .main-from .group,
.team-pending-form .main-from .group,
.team-add-favorite-form .main-from .group {
  width: 100%;
}
.create_form .main-from .bar,
.team-pending-form .main-from .bar,
.team-add-favorite-form .main-from .bar {
  width: 100%;
}
.create_form .main-from .add-mem-wrap,
.team-pending-form .main-from .add-mem-wrap,
.team-add-favorite-form .main-from .add-mem-wrap {
  overflow: hidden;
  border: 1px solid #e3e8eb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.create_form .page-main-action,
.team-pending-form .page-main-action,
.team-add-favorite-form .page-main-action {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.create_form .main-from .create-form .search-person .autocomplate,
.team-pending-form .main-from .create-form .search-person .autocomplate,
.team-add-favorite-form .main-from .create-form .search-person .autocomplate {
  height: 290px;
  border-radius: 6px;
}

.edit-profile-form .main-from,
.personal-view-group-profile .main-from,
.channel-view-group-profile .main-from,
.create_form .main-from {
  max-width: 70%;
  overflow: hidden;
  margin-top: 120px;
}
.edit-profile-form .main-from input:focus ~ label, .edit-profile-form .main-from input:valid ~ label,
.personal-view-group-profile .main-from input:focus ~ label,
.personal-view-group-profile .main-from input:valid ~ label,
.channel-view-group-profile .main-from input:focus ~ label,
.channel-view-group-profile .main-from input:valid ~ label,
.create_form .main-from input:focus ~ label,
.create_form .main-from input:valid ~ label {
  display: none;
}
.edit-profile-form .main-from .first-name,
.edit-profile-form .main-from .last-name,
.personal-view-group-profile .main-from .first-name,
.personal-view-group-profile .main-from .last-name,
.channel-view-group-profile .main-from .first-name,
.channel-view-group-profile .main-from .last-name,
.create_form .main-from .first-name,
.create_form .main-from .last-name {
  font-weight: 400;
}
.edit-profile-form .main-from select,
.personal-view-group-profile .main-from select,
.channel-view-group-profile .main-from select,
.create_form .main-from select {
  border-width: 1px;
  width: 100%;
}
.edit-profile-form .status-select,
.personal-view-group-profile .status-select,
.channel-view-group-profile .status-select,
.create_form .status-select {
  margin: 65px 0;
}
.edit-profile-form .avatar,
.personal-view-group-profile .avatar,
.channel-view-group-profile .avatar,
.create_form .avatar {
  position: relative;
  width: 256px;
  height: 256px;
  overflow: hidden;
}
.edit-profile-form .avatar.no-avatar .fake-img,
.personal-view-group-profile .avatar.no-avatar .fake-img,
.channel-view-group-profile .avatar.no-avatar .fake-img,
.create_form .avatar.no-avatar .fake-img {
  width: 256px;
  height: 256px;
}
.edit-profile-form .avatar.no-avatar .fake-img span,
.personal-view-group-profile .avatar.no-avatar .fake-img span,
.channel-view-group-profile .avatar.no-avatar .fake-img span,
.create_form .avatar.no-avatar .fake-img span {
  padding: 103px 73px;
  font-size: 150px;
}
.edit-profile-form .change-profile-picture,
.personal-view-group-profile .change-profile-picture,
.channel-view-group-profile .change-profile-picture,
.create_form .change-profile-picture {
  position: relative;
}
.edit-profile-form .change-img,
.personal-view-group-profile .change-img,
.channel-view-group-profile .change-img,
.create_form .change-img {
  position: absolute;
  bottom: -30px;
  left: calc((100% - 60px)/2);
  width: 60px;
  height: 60px;
}
.edit-profile-form .change-img label,
.personal-view-group-profile .change-img label,
.channel-view-group-profile .change-img label,
.create_form .change-img label {
  background-image: url(../image/icon.png);
  background-position: -12px -801px;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  position: static;
  margin: 0;
  pointer-events: visible;
}
.edit-profile-form .change-img input.inputfile,
.personal-view-group-profile .change-img input.inputfile,
.channel-view-group-profile .change-img input.inputfile,
.create_form .change-img input.inputfile {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.edit-profile-form .group,
.personal-view-group-profile .group,
.channel-view-group-profile .group,
.create_form .group {
  width: 100%;
}
.edit-profile-form .group select,
.personal-view-group-profile .group select,
.channel-view-group-profile .group select,
.create_form .group select {
  width: 100%;
  border-width: 1px;
}
.edit-profile-form .group select:hover, .edit-profile-form .group select:focus,
.personal-view-group-profile .group select:hover,
.personal-view-group-profile .group select:focus,
.channel-view-group-profile .group select:hover,
.channel-view-group-profile .group select:focus,
.create_form .group select:hover,
.create_form .group select:focus {
  outline: none;
}
.edit-profile-form .group input,
.personal-view-group-profile .group input,
.channel-view-group-profile .group input,
.create_form .group input {
  border-width: 1px;
  width: 100%;
  padding: .5rem .75rem;
  box-shadow: none;
}
.edit-profile-form .group .bar,
.personal-view-group-profile .group .bar,
.channel-view-group-profile .group .bar,
.create_form .group .bar {
  width: 100%;
}

a.change-pass-link {
  text-decoration: underline;
  float: right;
  cursor: pointer;
  color: #006599;
}
a.change-pass-link:hover {
  color: #33baff;
}

.personal-view-group-profile label.switch {
  margin-top: -20px;
}
.personal-view-group-profile .main-from {
  max-width: 70%;
}

.group-info-coll {
  text-align: left;
}
.group-info-coll .sub-title-group {
  display: flex;
  flex: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e8eb;
}
.group-info-coll .icon-wrap {
  margin-left: auto;
  width: 30px;
  height: 30px;
}
.group-info-coll .icon-wrap .icon {
  width: 30px;
  height: 30px;
  display: block;
}
.group-info-coll .icon-wrap .icon.add-friend-icon {
  background-image: url(../image/icon.png);
  background-position: -9px -666px;
  background-repeat: no-repeat;
}
.group-info-coll .icon-wrap .icon.locked-icon {
  background-image: url(../image/icon.png);
  background-position: -87px -77px;
  background-repeat: no-repeat;
}
.group-info-coll .group-name {
  margin-bottom: 50px;
}
.group-info-coll .num-mem-current a {
  color: #333333;
}
.group-info-coll .num-mem-current a:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../image/icon.png);
  background-position: -89px -17px;
  background-repeat: no-repeat;
  display: inline-block;
}
.group-info-coll .num-mem-current a.expanding:before {
  background-image: url(../image/icon.png);
  background-position: -136px -17px;
  background-repeat: no-repeat;
}
.group-info-coll .setting-item {
  padding: 0;
  margin-top: 20px;
  text-align: left;
  display: flex;
  flex: 1;
  align-items: center;
}
.group-info-coll .setting-item .icon {
  margin-right: 30px;
  background-color: #95aab5;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  cursor: default;
}
.group-info-coll .setting-item .icon:hover {
  opacity: 1;
}
.group-info-coll .setting-item.notifications-setting .icon {
  background-position: -135px -194px;
}
.group-info-coll .setting-item.chat-history .icon {
  background-position: -66px -716px;
}
.group-info-coll .setting-item .title {
  flex-grow: 4;
}
.group-info-coll .setting-item.translate .icon {
  background-position: -133px -492px;
}
.group-info-coll .setting-item.add-participant .icon {
  background-position: -133px -444px;
}
.group-info-coll .setting-item.delete-chat .icon {
  background-position: -134px -391px;
}
.group-info-coll .admin {
  display: flex;
  flex: 1;
  align-items: flex-end;
}
.group-info-coll .admin .icon-wrap {
  margin-left: 0;
  margin-right: 35px;
}
.group-info-coll label {
  pointer-events: visible;
}
.group-info-coll .participant-group {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #e3e8eb;
}
.group-info-coll .participant-group .friend {
  display: inline-block;
  width: auto;
  width: 50%;
}
.group-info-coll .participant-group .friend .avatar {
  width: 50px;
  height: 50px;
}

.add-mem-wrap .friend.active .checked-icon {
  display: block;
  margin-top: 5px;
}

.user-des {
  font-size: 16px;
  margin-top: 30px;
}

.page-main-action {
  height: 90px;
  text-align: center;
  border-top: 1px solid #e3e8eb;
  padding: 30px;
  background-color: #ffffff;
}
.page-main-action button {
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 40px;
  width: 200px;
  height: 45px;
  border-width: 1px;
  border-style: solid;
}
.page-main-action button.second-btn {
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  background: white;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  margin-right: 30px;
}
.page-main-action button.second-btn:hover {
  border-color: #b7b7b7;
  color: white;
  background: #b7b7b7;
}
.page-main-action button.default-btn {
  border: 1px solid #006599;
  color: white;
  background: #006599;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}
.page-main-action button.default-btn:hover {
  border-color: #006599;
  color: #006599;
  background: white;
}

/*Add new chat*/
.chatbox-header.search-person-box {
  overflow: visible;
}

.search-person {
  position: relative;
  height: 70px;
}
.search-person input {
  height: 100%;
  border: 0;
  box-shadow: none;
  outline: none;
}
.search-person .autocomplate {
  position: absolute;
  top: 75px;
  left: 20px;
  width: 340px;
  height: 460px;
  z-index: 10;
  background-color: #fff;
  float: left;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 15px rgba(0, 0, 0, 0.3);
}
.search-person .autocomplate .list {
  margin: 5px 0;
}
.search-person .autocomplate .list .item {
  padding: 9px 15px;
  display: block;
  width: 100%;
  overflow: hidden;
}
.search-person .autocomplate .list .item .friend {
  display: flex;
  padding: 0;
}
.search-person .autocomplate .list .item .friend .nick-name {
  padding: 10px 0;
}
.search-person .autocomplate .list .item:hover {
  background-color: #eff7fc;
}
.search-person .chosen-container {
  margin-left: 8px;
  height: 100%;
  position: relative;
  display: block;
  float: left;
}
.search-person .chosen-container .chosen-choices {
  background: transparent;
  width: 9999px;
  padding: 1px 5px;
  margin: 0;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: top;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-person .chosen-container .chosen-choices li {
  height: 40px;
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}
.search-person .chosen-container .chosen-choices li input {
  height: 100%;
  line-height: 30px;
  font-size: 15px;
  width: 457px;
}
.search-person .chosen-container .chosen-choices li input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acacac;
}
.search-person .chosen-container .chosen-choices li input::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac;
}
.search-person .chosen-container .chosen-choices li input:-ms-input-placeholder {
  /* IE 10+ */
  color: #acacac;
}
.search-person .chosen-container .chosen-choices li input:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac;
}
.search-person .chosen-container .chosen-choices .search-choice {
  padding: 3px;
  margin-top: 0px;
  background: #006599;
  height: 100%;
  margin-bottom: 0px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  font-size: 14px;
  display: flex;
  color: #ffffff;
  margin-bottom: 5px;
}
.search-person .chosen-container .chosen-choices .search-choice .icon {
  width: 20px;
  height: 20px;
}
.search-person .chosen-container .chosen-choices .search-choice .name {
  padding: 2px 25px 0px 3px;
}

/*Audio Call*/
.audio-call-content, .audio-call-content.single {
  background-image: url(../image/bg-audio-call.jpg);
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 100%;
  background-size: 100% 100%;
  text-align: center;
}
.audio-call-content .avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #ffffff;
  margin: 100px auto 0;
}

.toolbox-call {
  text-align: center;
  margin-bottom: 125px;
  margin-top: auto;
}
.toolbox-call .tool-list {
  width: 320px;
  height: 70px;
  border-radius: 10px;
  background-color: #373d4b;
  margin: 0 auto;
  display: flex;
}
.toolbox-call .tool-list li {
  flex: 1;
  align-items: center;
  padding: 20px;
}
.toolbox-call .tool-list li:first-child {
  border-radius: 10px 0 0 10px;
}
.toolbox-call .tool-list li:last-child {
  border-radius: 0 10px 10px 0;
}
.toolbox-call .tool-list .tool-item.active {
  background-color: #eff6fc;
}

.calling-header {
  background-color: #006599;
  color: #ffffff;
  border-bottom-color: #317da4 !important;
  display: flex;
}
.calling-header div {
  flex: 1;
}
.calling-header .top-info {
  padding: 15px 40px;
}
.calling-header .top-info .name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.calling-header .top-info .call-status {
  font-size: 14px;
}
.calling-header .top-mess-icon {
  padding: 15px;
}

/*Incomming call*/
.incomming-call-wrap {
  width: 325px;
  height: 450px;
  position: absolute;
  bottom: 115px;
  left: 15px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.35);
  background-size: initial;
  background-position: -50% 100%;
  background-image: url(../image/bg-audio-call.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.incomming-call-wrap .avatar {
  width: 130px;
  height: 130px;
  border-radius: 25px;
  margin: 35px auto 0;
}
.incomming-call-wrap .nick-name {
  color: #ffffff;
  margin-top: 23px;
}
.incomming-call-wrap .toolbox-call .tool-list {
  width: 160px;
}
.incomming-call-wrap .incomming-bottom {
  margin: 50px auto;
  margin-bottom: 0;
}
.incomming-call-wrap .incomming-bottom .toolbox-call {
  margin-bottom: 0;
}

.incomming-head {
  color: #ffffff;
  display: flex;
}
.incomming-head .title {
  display: block !important;
  flex-grow: 2;
  text-align: left;
  padding: 20px;
  font-weight: 500;
}
.incomming-head .btn-close {
  padding: 12px;
}

/*Single Call*/
.single.audio-call-content {
  background-image: url(../image/bg-single-call.jpg);
}

.single-call-content .toolbox-call .tool-list li:first-child {
  background-color: #eff7fc;
  border-radius: 10px 0 0 10px;
}
.single-call-content .toolbox-call .tool-list li:nth-child(2) {
  background-color: #eff7fc;
}

/*after call*/
.call {
  display: flex;
  margin-top: -10px;
}
.call .mess {
  margin: 5px;
  font-size: 14px !important;
  font-weight: 400;
}
.call .mess a {
  float: left;
  display: block;
  width: 100%;
  margin: 5px 0 0;
  color: #006599;
  font-weight: 400;
}
.call .mess a:hover {
  color: #33baff;
}
.call .mess .call-time {
  font-weight: 300;
}

/*Change password*/
.change-pass .page-main-action {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0;
}
.change-pass .page-main-action button {
  width: 150px;
}

/*Create Channel*/
.create-channel-form .main-from, .create_form .main-from,
.team-pending-form .main-from,
.team-add-favorite-form .main-from {
  max-width: 700px;
  margin-top: 45px;
  margin-bottom: 60px;
}
.create-channel-form .main-from .group, .create_form .main-from .group,
.team-pending-form .main-from .group,
.team-add-favorite-form .main-from .group {
  width: 100%;
}
.create-channel-form .main-from .group input, .create_form .main-from .group input,
.team-pending-form .main-from .group input,
.team-add-favorite-form .main-from .group input,
.create-channel-form .main-from .group textarea,
.create_form .main-from .group textarea,
.team-pending-form .main-from .group textarea,
.team-add-favorite-form .main-from .group textarea,
.create-channel-form .main-from .group .bar,
.create_form .main-from .group .bar,
.team-pending-form .main-from .group .bar,
.team-add-favorite-form .main-from .group .bar {
  width: 100%;
}
.create-channel-form .main-from .group textarea, .create_form .main-from .group textarea,
.team-pending-form .main-from .group textarea,
.team-add-favorite-form .main-from .group textarea {
  height: 145px;
}
.create-channel-form .main-from .group.area, .create_form .main-from .group.area,
.team-pending-form .main-from .group.area,
.team-add-favorite-form .main-from .group.area {
  margin-bottom: 35px;
}
.create-channel-form .main-from .status-setting, .create_form .main-from .status-setting,
.team-pending-form .main-from .status-setting,
.team-add-favorite-form .main-from .status-setting {
  margin-bottom: 30px;
}
.create-channel-form .main-from .status-setting > .control, .create_form .main-from .status-setting > .control,
.team-pending-form .main-from .status-setting > .control,
.team-add-favorite-form .main-from .status-setting > .control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.create-channel-form .main-from .status-setting > .control .title, .create_form .main-from .status-setting > .control .title,
.team-pending-form .main-from .status-setting > .control .title,
.team-add-favorite-form .main-from .status-setting > .control .title {
  text-transform: capitalize;
  flex-grow: 0.3;
  text-align: left;
}
.create-channel-form .main-from .status-setting > .control label, .create_form .main-from .status-setting > .control label,
.team-pending-form .main-from .status-setting > .control label,
.team-add-favorite-form .main-from .status-setting > .control label {
  pointer-events: visible;
}
.create-channel-form .main-from .status-setting p, .create_form .main-from .status-setting p,
.team-pending-form .main-from .status-setting p,
.team-add-favorite-form .main-from .status-setting p {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}
.create-channel-form .main-from label.switch, .create_form .main-from label.switch,
.team-pending-form .main-from label.switch,
.team-add-favorite-form .main-from label.switch {
  position: relative;
  left: 0;
  top: 0;
}
.create-channel-form .main-from .add-member, .create_form .main-from .add-member,
.team-pending-form .main-from .add-member,
.team-add-favorite-form .main-from .add-member {
  position: relative;
}
.create-channel-form .main-from .add-member .icon-wrap, .create_form .main-from .add-member .icon-wrap,
.team-pending-form .main-from .add-member .icon-wrap,
.team-add-favorite-form .main-from .add-member .icon-wrap {
  position: absolute;
  right: 10px;
  top: 10px;
}
.create-channel-form .main-from .search-person .chosen-container, .create_form .main-from .search-person .chosen-container,
.team-pending-form .main-from .search-person .chosen-container,
.team-add-favorite-form .main-from .search-person .chosen-container {
  margin-left: 0;
  height: auto;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices, .create_form .main-from .search-person .chosen-container .chosen-choices,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices {
  width: 700px;
  border-bottom: 2px solid #ebebeb;
  position: relative;
  top: 0;
  transform: translate(0);
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li input, .create_form .main-from .search-person .chosen-container .chosen-choices li input,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li input,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li input {
  font-size: 16px;
  width: 100%;
  padding: 5px;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li input::-webkit-input-placeholder, .create_form .main-from .search-person .chosen-container .chosen-choices li input::-webkit-input-placeholder,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li input::-webkit-input-placeholder,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li input::-webkit-input-placeholder {
  color: #2c2c2e;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li input::-moz-placeholder, .create_form .main-from .search-person .chosen-container .chosen-choices li input::-moz-placeholder,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li input::-moz-placeholder,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li input::-moz-placeholder {
  color: #2c2c2e;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li input:-ms-input-placeholder, .create_form .main-from .search-person .chosen-container .chosen-choices li input:-ms-input-placeholder,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li input:-ms-input-placeholder,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li input:-ms-input-placeholder {
  color: #2c2c2e;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li input:-moz-placeholder, .create_form .main-from .search-person .chosen-container .chosen-choices li input:-moz-placeholder,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li input:-moz-placeholder,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li input:-moz-placeholder {
  color: #2c2c2e;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li.search-choice, .create_form .main-from .search-person .chosen-container .chosen-choices li.search-choice,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li.search-choice,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li.search-choice {
  width: auto;
  height: 27px;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li.search-choice .name, .create_form .main-from .search-person .chosen-container .chosen-choices li.search-choice .name,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li.search-choice .name,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li.search-choice .name {
  padding: 3px 5px;
}
.create-channel-form .main-from .search-person .chosen-container .chosen-choices li.search-choice span, .create_form .main-from .search-person .chosen-container .chosen-choices li.search-choice span,
.team-pending-form .main-from .search-person .chosen-container .chosen-choices li.search-choice span,
.team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices li.search-choice span {
  white-space: nowrap;
}
.create-channel-form .main-from .search-person .autocomplate, .create_form .main-from .search-person .autocomplate,
.team-pending-form .main-from .search-person .autocomplate,
.team-add-favorite-form .main-from .search-person .autocomplate {
  position: relative;
  height: 400px;
  width: 100%;
  display: none;
  top: 0px;
  left: 0;
}

/*Channel Form*/
.channel .total-member {
  font-size: 14px;
}

.channel-view-group-profile .main-from,
.personal-view-group-profile .main-from {
  margin-top: 30px;
  margin-bottom: 100px;
  min-height: 345px;
}
.channel-view-group-profile .main-from .group-info-coll,
.personal-view-group-profile .main-from .group-info-coll {
  padding-left: 25px;
}
.channel-view-group-profile .main-from .group-info-coll h2,
.personal-view-group-profile .main-from .group-info-coll h2 {
  margin-top: 0;
}
.channel-view-group-profile .main-from .group-info-coll .sub-title-group,
.personal-view-group-profile .main-from .group-info-coll .sub-title-group {
  margin-top: 8px;
}
.channel-view-group-profile .main-from .group-info-coll .participant-group .delete-friend,
.personal-view-group-profile .main-from .group-info-coll .participant-group .delete-friend {
  position: absolute;
  right: 45px;
  top: -9px;
  display: none;
}
.channel-view-group-profile .main-from .group-info-coll .participant-group .friend:hover,
.personal-view-group-profile .main-from .group-info-coll .participant-group .friend:hover {
  cursor: pointer;
}
.channel-view-group-profile .main-from .group-info-coll .participant-group .friend:hover .delete-friend,
.personal-view-group-profile .main-from .group-info-coll .participant-group .friend:hover .delete-friend {
  display: block;
}
.channel-view-group-profile .main-from .group-info-coll .admin .icon-wrap,
.personal-view-group-profile .main-from .group-info-coll .admin .icon-wrap {
  margin-right: 15px;
}
.channel-view-group-profile .page-main-action .log-out .wrap,
.channel-view-group-profile .page-main-action .unfriend .wrap,
.personal-view-group-profile .page-main-action .log-out .wrap,
.personal-view-group-profile .page-main-action .unfriend .wrap {
  margin-right: 15%;
}
.channel-view-group-profile .page-main-action .unfriend .wrap,
.personal-view-group-profile .page-main-action .unfriend .wrap {
  margin-right: 15%;
  display: table;
  cursor: pointer;
  float: right;
}

/*contact-sent*/
.talk-list-item .session-chat .contact-sent {
  display: flex;
  align-items: center;
}
.talk-list-item .session-chat .contact-sent .mess {
  margin: 0;
  display: flex;
}
.talk-list-item .session-chat .contact-sent .icon {
  margin-right: 10px;
}
.talk-list-item .session-chat .contact-sent .avatar {
  width: 80px;
  height: 80px;
}
.talk-list-item .session-chat .contact-sent .contact-info a {
  display: block;
  float: left;
  width: 100%;
  margin: 5px 0 0;
  color: #006599;
  font-weight: 400;
  font-size: 14px;
}
.talk-list-item .session-chat .contact-sent .contact-info a:hover {
  color: #33baff;
}

/*video call*/
.video-content,
.audio-call-content,
.audio-call-content.single {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.video-content .show-screen-icon,
.audio-call-content .show-screen-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}
.video-content .show-screen-icon.show,
.audio-call-content .show-screen-icon.show {
  transform: rotate(-180deg);
}
.video-content .show-webcam,
.audio-call-content .show-webcam {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.single .video-content .video-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
}
.single .video-content .video-panel video {
  height: 100% !important;
}

.video-call-content.normal {
  text-align: center;
  background-color: #006599;
  height: 100%;
}
.video-call-content.normal .avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #ffffff;
  margin: 100px auto 0;
}

.incomming-call-wrap.video {
  background-image: none;
  background-color: #006599;
}

.chat-while-video-call {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  /* .toolbox{ */
  /* position:absolute; */
  /* bottom:0 */
  /* } */
}
.chat-while-video-call.show {
  height: 300px;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .chat-while-video-call {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .video-call-content,
  .audio-call-content,
  .audio-call-content.single {
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    margin-top: 70px;
  }
  .video-call-content.toggled,
  .audio-call-content.toggled {
    margin-top: -300px;
  }

  .video-call-form,
  .audio-call-form {
    height: 100%;
  }
  .video-call-form .calling-header,
  .audio-call-form .calling-header {
    position: fixed;
    top: 0;
    width: calc(100% - 27% - 135px);
    z-index: 999;
  }

  .single .toolbox-call {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
/*video call group*/
.video-call-form {
  height: 100%;
}
.video-call-form .video-call-content {
  background-color: #006599;
  height: 100%;
}
.video-call-form .video-call-content .video-content {
  height: 100%;
}
.video-call-form .video-call-content .group-cam {
  margin: auto;
  margin-bottom: 0;
  text-align: center;
}
.video-call-form .video-call-content .group-cam .screen {
  padding: 1px;
  float: none;
  display: inline-block;
}

.video-call-form.group {
  display: block;
}

/*plans-form*/
.plans-form {
  margin-top: 50px;
  text-align: center;
}
.plans-form .pricing-item {
  text-align: center;
  display: flex;
  padding: 20px 15px;
  flex: 1;
}
.plans-form .pricing-item .table-head {
  padding: 15px;
  color: #ffffff;
  border-radius: 3px 3px 0 0;
}
.plans-form .pricing-item .table-head .title h3 {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 7px;
}
.plans-form .pricing-item .table-head .price {
  margin-bottom: 18px;
  margin-bottom: 18px;
  color: #eaeef0;
  font-size: 12px;
}
.plans-form .pricing-item .table-head .limit {
  font-size: 14px;
  color: #eaeef0;
  margin-bottom: 7px;
}
.plans-form .pricing-item .table-head .focus-price {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 5px;
}
.plans-form .pricing-item.starter .table-head {
  background: #1c80e2;
}
.plans-form .pricing-item.starter .price {
  font-size: 26px;
  font-weight: bold;
  color: white;
}
.plans-form .pricing-item.starter .table-price-wrap .content .btn {
  border-color: #1c80e2;
  color: #1c80e2;
}
.plans-form .pricing-item.starter .table-price-wrap .content .btn:hover {
  background: #1c80e2;
  color: #ffffff;
}
.plans-form .pricing-item.startup .table-head {
  background: #249a68;
}
.plans-form .pricing-item.startup .table-price-wrap .content .btn {
  border-color: #249a68;
  color: #249a68;
}
.plans-form .pricing-item.startup .table-price-wrap .content .btn:hover {
  background: #249a68;
  color: #ffffff;
}
.plans-form .pricing-item.enterprice .table-head {
  background: #e74737;
}
.plans-form .pricing-item.enterprice .table-price-wrap .content .btn {
  border-color: #e74737;
  color: #e74737;
}
.plans-form .pricing-item.enterprice .table-price-wrap .content .btn:hover {
  background: #e74737;
  color: #ffffff;
}
.plans-form .pricing-item.active .table-price-wrap {
  border-width: 3px;
}
.plans-form .pricing-item.active .table-price-wrap .fa-check {
  opacity: 1;
}
.plans-form .pricing-item.active.starter.active .table-price-wrap {
  border-color: #1c80e2;
}
.plans-form .pricing-item.active.starter.active .table-price-wrap .fa-check {
  border-color: #1c80e2;
  color: #1c80e2;
}
.plans-form .pricing-item.active.startup.active .table-price-wrap {
  border-color: #249a68;
}
.plans-form .pricing-item.active.startup.active .table-price-wrap .fa-check {
  border-color: #249a68;
  color: #249a68;
}
.plans-form .pricing-item.active.enterprice.active .table-price-wrap {
  border-color: #e74737;
}
.plans-form .pricing-item.active.enterprice.active .table-price-wrap .fa-check {
  border-color: #e74737;
  color: #e74737;
}
.plans-form .plans-wrap {
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}
@media screen and (max-width: 767px) {
  .plans-form .plans-wrap {
    display: block;
  }
  .plans-form .plans-wrap .table-price-wrap {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .plans-form .plans-wrap {
    width: 1200px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .plans-form .plans-wrap {
    width: 995px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .plans-form .plans-wrap {
    width: 770px;
  }
}
.plans-form .table-price-wrap {
  border: 1px solid #e3e8eb;
  border-radius: 5px;
  box-shadow: 0 0 5px #e6e6e6;
  max-width: 245px;
  margin: 0 auto;
  width: 100%;
  font-family: 'Lato', sans-serif;
  position: relative;
}
.plans-form .table-price-wrap .content {
  padding: 25px;
}
.plans-form .table-price-wrap .content .btn-wrap {
  margin-top: 23px;
}
.plans-form .table-price-wrap .content .btn-wrap .btn {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  font-size: 12px;
  padding: 8px 25px;
  font-weight: bold;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.plans-form .table-price-wrap .fa-check {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 100%;
  line-height: 30px;
  border: 3px;
  border-style: solid;
  opacity: 0;
}

.plans-footer {
  font-family: 'Lato', sans-serif;
  margin: 50px 0;
  float: left;
  text-align: center;
  width: 100%;
}
.plans-footer h4 {
  color: #006599;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
.plans-footer ul {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 460px) {
  .plans-footer ul {
    text-align: left;
  }
}
.plans-footer li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.plans-footer li a {
  color: #7d7d7d;
  font-size: 14px;
}
.plans-footer li a:hover {
  color: #006599;
}
.plans-footer li .icon {
  height: auto;
  float: left;
  width: 20px;
}

.plans-control {
  width: 320px;
  height: 40px;
  border-radius: 30px;
  background: #e7eaec;
  border: 1px solid #e1e1e1;
  margin: 17px auto 61px;
  position: relative;
}
@media screen and (max-width: 360px) {
  .plans-control {
    width: 285px;
  }
}
.plans-control .item {
  display: inline-block;
  width: 50%;
  float: left;
  padding: 10px;
  text-transform: uppercase;
  color: #959595;
  position: relative;
}
.plans-control .item span {
  position: relative;
  z-index: 1;
}
.plans-control .item.active {
  color: #ffffff;
}
.plans-control .btn-control {
  background-color: #006599;
  width: 47%;
  top: 5px;
  left: 5px;
  border-radius: 30px;
  height: 28px;
  position: absolute;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.billing-wrap {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0 0;
}
@media screen and (min-width: 1200px) {
  .billing-wrap {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .billing-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .billing-wrap .item {
    text-align: left;
  }
}
.billing-wrap label {
  font-weight: 500;
}
.billing-wrap select {
  border: 0;
  outline: none;
}
.billing-wrap .total label {
  color: #229b68;
}
.billing-wrap button {
  background: #ffffff;
  border: 1px solid #229B68;
  color: #229B68;
  border-radius: 30px;
  font-size: 12px;
  padding: 8px 25px;
  font-weight: bold;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.billing-wrap button:hover {
  background: #229B68;
  color: #ffffff;
}
.billing-wrap .item {
  margin-bottom: 15px;
  height: 40px;
  padding: 10px 0;
}
.billing-wrap .item.btn-process {
  padding: 0;
}

/*plans -popup*/
.pop-up-payment {
  width: 30%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  top: calc((100% - 400px)/2);
  left: 35%;
  position: absolute;
  z-index: 9999;
  min-height: 500px;
}

.pay-header {
  padding: 15px;
  background-color: #E8E9EC;
  position: relative;
  border-radius: 5px 5px 0 0;
}
.pay-header h4 {
  font-weight: 300;
}
.pay-header .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.pay-header .btn-close .close {
  border-radius: 100%;
  border: 1px solid #e3e8eb;
  background: none;
  background-color: #C0C0C2;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  width: 25px;
  height: 25px;
  line-height: 20px;
}
.pay-header:after {
  width: 70px;
  height: 70px;
  background-color: #539D21;
  background-image: url(../image/shop.png);
  content: "";
  position: absolute;
  top: -35%;
  left: calc((100% - 70px) / 2);
  background-size: 60%;
  background-repeat: no-repeat;
  border-radius: 100%;
  background-position: 14px 14px;
  border: 2px solid #ffffff;
}

.pay-body {
  padding: 45px 15px;
}
.pay-body input {
  height: 35px;
  padding: 5px 10px 5px 40px;
  width: 100%;
  border: 1px solid #e3e8eb;
}
.pay-body .email-pay {
  margin-bottom: 20px;
}
.pay-body .email-pay input {
  position: relative;
}
.pay-body .email-pay input:before {
  font-family: 'FontAwesome';
  content: "\f003";
  position: absolute;
}
.pay-body .input-date {
  width: 50%;
  display: inline-block;
  float: left;
}
.pay-body .input-date input {
  border-right: 0;
}
.pay-body .input-cvc {
  width: 50%;
  display: inline-block;
}
.pay-body .input-number-card input {
  border: 1px solid #e3e8eb;
  border-bottom: 0;
}
.pay-body .remember-login {
  margin-top: 25px;
  border: 1px solid #e3e8eb;
  padding: 10px;
  text-align: left;
}
.pay-body .remember-login input[type="checkbox"] {
  padding: 0;
  height: auto;
  display: inline-block;
  float: left;
  width: auto;
  margin-right: 10px;
}

.pay-footer {
  padding: 15px;
}
.pay-footer .btn {
  width: 100%;
  border: 1px solid;
  border: 1px solid #30a3e6;
  color: white;
  background: #30a3e6;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  font-weight: 500;
}
.pay-footer .btn:hover {
  border-color: #30a3e6;
  color: #30a3e6;
  background: white;
}

form.payment-form div {
  position: relative;
}
form.payment-form div .fa {
  position: absolute;
  left: 10px;
  top: 9px;
  z-index: 1;
  color: #539d21;
}

@media screen and (min-width: 768px) {
  .main-from.create-form {
    margin-top: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .title-col .page-title {
    font-size: 14px;
  }

  .friend .nick-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #wrapper.toggled-right #sidebar-wrapper-right {
    width: 170px;
  }
  #wrapper.toggled-right .chatbox {
    /* width: calc(100% - 170px); */
  }

  #wrapper.toggled {
    margin-left: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled-right .col-right {
    width: calc(100% - 27% - 170px);
  }
  #wrapper.toggled-right .notifications-setting,
  #wrapper.toggled-right .public-search {
    padding: 15px 10px;
  }
  #wrapper.toggled-right .notifications-setting div,
  #wrapper.toggled-right .public-search div {
    font-size: 14px;
  }
  #wrapper.toggled-right .notifications-setting .icon,
  #wrapper.toggled-right .public-search .icon {
    display: none;
  }

  .ads-wrap {
    margin: 0;
  }

  .favorite-list .content .friend .nick-name,
  .all-contact-list .content .friend .nick-name {
    display: block;
    padding: 0;
  }

  .col-left .friend .contact-info .icon-wrap {
    display: block;
    float: left;
    margin-top: -10px;
    margin-left: -7px;
  }

  .edit-profile-form .main-from {
    max-width: 70%;
  }

  .edit-profile-form .avatar .avatar,
  .personal-view-group-profile .avatar,
  .channel-view-group-profile .avatar {
    width: 156px;
    height: 156px;
  }

  .item-setting .text {
    padding: 0;
    margin-right: 10px;
  }

  .sent-contact-box, .add-users-box {
    left: auto;
    right: 55%;
  }

  .add-users-box {
    right: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .friend .time {
    position: static;
  }

  .recent-list .contact-info .time {
    position: static;
    margin: 0;
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .personal-view-group-profile .avatar,
  .channel-view-group-profile .avatar {
    width: 190px;
    height: 190px;
  }
}
.navbar-toggle.mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
    overflow: visible;
    overflow-x: hidden;
  }

  .navbar-toggle.mobile {
    display: inline-block;
    margin-left: 20px;
  }

  .main-from input {
    width: 100%;
  }

  .group {
    width: 80%;
  }

  .signin-google {
    font-size: 14px;
  }

  .recent-conversation {
    overflow: visible;
  }

  .col-left,
  .col-right {
    width: 100% !important;
  }

  .search-wrapper .action.search {
    display: none;
  }

  #page-content-wrapper {
    padding: 0;
  }

  .friend .time {
    position: static;
  }

  .recent-list .contact-info .time {
    position: static;
    margin: 0;
  }

  .col-right .chatbox-header, .col-right .contacbox-header, .col-right .calling-header {
    height: auto;
  }

  #wrapper.toggled .change-profile-reponsive,
  #wrapper.toggled .personal-channel {
    display: block;
  }
  #wrapper.toggled .avatar-wrap.top {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  #wrapper.toggled .avatar-wrap.top .title {
    display: block;
    padding: 0;
    margin-top: 10px;
    height: auto;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    left: 250px;
    margin-left: -250px;
  }
  #wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    width: 100%;
  }
  #wrapper.toggled .title-col .navbar-toggle.mobile {
    display: none;
  }

  .sidebar.view-profile {
    display: none;
  }

  .talk-list-item .friend .contact-info {
    width: 100%;
  }

  .chat-input-tools-btn {
    margin: 10px 7px;
  }

  .chat-input__content .icon {
    right: 12px;
  }

  .col-right .chatbox-header,
  .col-right .contacbox-header {
    border-top: 2px solid #006599;
    background: #fff;
  }

  .favorite-list .content .friend .nick-name,
  .all-contact-list .content .friend .nick-name,
  .pending-wrap .content .friend .nick-name,
  .add-friend-wrap .content .friend .nick-name {
    padding: 0;
  }

  .friend .contact-info .icon-wrap {
    margin-top: -10px;
  }

  .pending-wrap,
  .add-friend-wrap {
    width: 100% !important;
  }

  .page-main-action button {
    display: block;
    margin: 10px auto;
  }
  .page-main-action button.second-btn {
    margin-right: auto;
  }

  .header .btn-close {
    right: 10px;
  }

  .edit-profile-form .main-from {
    max-width: 100%;
    overflow: hidden;
    margin-top: 50px;
  }

  .personal-view-group-profile .main-from,
  .channel-view-group-profile .main-from {
    max-width: 70%;
    margin-top: 30px;
  }

  /*audio call*/
  .calling-header .top-info {
    padding: 15px;
  }

  .audio-call-content .toolbox-call .tool-list,
  .single-call-content .toolbox-call .tool-list {
    width: 255px;
  }
  .audio-call-content .toolbox-call .tool-list li,
  .single-call-content .toolbox-call .tool-list li {
    padding: 20px 10px;
  }
  .audio-call-content .avatar,
  .single-call-content .avatar {
    width: 170px;
    height: 170px;
  }

  /*======================*/
  #sidebar-wrapper {
    left: 0;
  }

  #wrapper {
    margin: 0;
  }

  .create-channel-form .main-from, .create_form .main-from,
  .team-pending-form .main-from,
  .team-add-favorite-form .main-from,
  .create-form .main-from {
    max-width: 90%;
  }

  .create-channel-form .main-from .search-person .chosen-container .chosen-choices, .create_form .main-from .search-person .chosen-container .chosen-choices,
  .team-pending-form .main-from .search-person .chosen-container .chosen-choices,
  .team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices {
    max-width: 767px;
    min-width: 500px;
    width: 100%;
  }

  .channel-view-group-profile .main-from .group-info-coll h2 {
    margin-top: 30px;
  }

  .personal-view-group-profile .main-from .group-info-coll {
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .create-channel-form .main-from .search-person .chosen-container .chosen-choices, .create_form .main-from .search-person .chosen-container .chosen-choices,
  .team-pending-form .main-from .search-person .chosen-container .chosen-choices,
  .team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices {
    min-width: 336px;
    margin-top: 30px;
  }

  .create-channel-form .main-from .add-member, .create_form .main-from .add-member,
  .team-pending-form .main-from .add-member,
  .team-add-favorite-form .main-from .add-member {
    margin-top: 30px;
  }

  .sent-contact-box, .add-users-box, .add-users-box {
    width: 360px;
  }
}
@media screen and (max-width: 460px) {
  .pending-wrap .friend .contact-info .icon-wrap {
    margin-top: -5px;
    float: left;
    margin-left: -5px;
  }

  .add-friend-wrap .friend .contact-info .icon-wrap {
    margin-top: -5px;
    float: left;
  }

  .personal-view-group-profile .main-from,
  .channel-view-group-profile .main-from {
    max-width: 100%;
  }

  .audio-call-content .toolbox-call .tool-list,
  .single-call-content .toolbox-call .tool-list {
    width: 210px;
  }

  .calling-header .top-info {
    flex-grow: 2;
  }

  .create-channel-form .main-from .search-person .chosen-container .chosen-choices, .create_form .main-from .search-person .chosen-container .chosen-choices,
  .team-pending-form .main-from .search-person .chosen-container .chosen-choices,
  .team-add-favorite-form .main-from .search-person .chosen-container .chosen-choices {
    min-width: 285px;
  }

  .create-channel-form .main-from .add-member, .create_form .main-from .add-member,
  .team-pending-form .main-from .add-member,
  .team-add-favorite-form .main-from .add-member {
    margin-top: 75px;
  }

  .sent-contact-box, .add-users-box, .add-users-box {
    width: 280px;
  }

  .group-footer .page-main-action {
    width: 100%;
  }
  .group-footer .page-main-action button {
    width: 90px;
  }
}

/*# sourceMappingURL=style.css.map */