/*LOGIN*/
$body-color:#2c2c2e;
$input-boder-color:#ebebeb;
$color-base:#006599;
$button-default-background-color:#006599;
$button-second-background-color:#b7b7b7;
$button-background-color:#99c1d6;
$input-color:#2c2c2e;
$border-default-color:#e3e8eb;
///////////////////////////////////////
///////////// MIXIN///////////////////

@mixin transition($value) {
	transition:$value; 
    -moz-transition:$value; 
    -webkit-transition:$value;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin link-color($color1){
	color:$color1;
	&:hover{
		color:lighten($color1, 30%)
	}
}
@mixin button ($color, $border-color, $background){
	border:1px solid $border-color;
	color:$color;
	background:$background;
	@include transition(0.5s ease all);
	&:hover{
		border-color:$border-color;
		color:$background;
		background:$color;
	}
}
@mixin icon-font($content, $font-size) {
	font-family: 'FontAwesome';
	content:$content;
	font-size:$font-size;
}
@mixin background-icon($x, $y){
	background-image:url(../image/icon.png);
	background-position: $x $y;
	background-repeat:no-repeat;
}
///////////////////////////////////////
body{
	font-family:'Montserrat', Helvetica,Arial,sans-serif;
	color:$body-color;
	font-size:16px;
	font-weight:normal;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
  list-style:none;
}
a{
	color:#006599;
	&:hover,
	&:focus{		
		text-decoration:none;
		color:lighten(#006599, 20%);
		outline:none;
	}
	 @include transition(0.2s ease all);
}
img{
	max-width:100%
}
form{margin-bottom:0}
button{
	@include border-radius(30px);
	text-transform: uppercase;
	border:0;
	padding: 12px;
	font-size:16px;
	letter-spacing: 1px;
	&:focus{
		outline:none !important;
	}
}
.loading{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url(../image/loading.jpg);
	height: 100%;
	z-index: 99999;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #ffffff;
	&:before, &:after{
		position:absolute;
		top:0;
		content:"";
		background-color:#E6EFF4;
		height:100%;
	}
	&:before{
		left:0;
		width:105px;
	}
	&:after{
		right:0;
		width:82px
	}
	@media screen and (min-height:1200px){
		&:before{
			width:145px;
		}
		&:after{
			width:110px
		}
	}
	img{
		position:absolute;
		top:45%;
		left:45%;
	}
}
.icon{
	&:hover{
		opacity:0.6;
		cursor: pointer;
	}
}
.icon-wrap{
	display:inline-block;
	float:right;
}
.icon{
	display: inline-block;
	float: right;			
	width: 30px;
	height: 30px;
	@include background-icon(-9px, -454px);		
	&.favorite-icon{
		@include background-icon(-9px, -492px); 
		&.start-fill{				
			background-position:-9px -452px
		}				
	}
	&.clear-friend-icon{
		background-position:-9px -535px; 
	}
	&.not-accept-icon{
		background-position:-9px -628px; 
	}
	&.accept-icon{
		background-position:-9px -584px; 
	}
	&.add-friend-icon{
		background-position:-9px -666px; 
	}
	&.checked-icon{
		background-position:-9px -755px; 
		display:none;
	}
	&.delete-icon{
		background-position:-79px -350px; 
	}
	&.play-icon{
		background-position:-77px -432px; 
	}
	&.pause-icon{
		background-position:-78px -397px; 
	}
	&.void-icon{
		background-position:-77px -460px; 
	}
	&.clear{
		background-position:-77px -492px; 
	}
	&.full-screen-icon{
		background-position:-72px -525px; 
	}
	&.end-call-icon{
		background-position:-72px -571px;
	}
	&.micro-icon{
		background-position:-72px -624px;
	}
	&.video-icon{
		background-position:-72px -674px;
	}
	&.top-mes-icon{
		background-position:-68px -719px;
	}
	&.close-icon{
		background-position:-72px -760px;
	}
	&.call-icon{
		background-position: -137px -81px;
	}
	&.video-call-icon{
		background-position: -195px -81px;
	}
	&.phone-icon{
		background-position: -137px -142px;
	}
	&.video-icon-small{
		background-position: -186px -147px;
	}
	&.unfriend-icon{
		background-position: -136px -539px;
	}
	&.close-dark-icon{
		background-position: -136px -580px;
	}
	&.add-more-friend{
		background-position: -950px -20px		
	}
	&.video-call{	
		background-position: -897px -20px;	
	}
	&.voice-chat{	
		background-position: -839px -20px;
	}
	&.send-contact-icon{
		background-position:-253px -955px;
	}
	&.plane-icon{
		background-position: -136px -623px;
	}
	&.map-icon{
		background-position: -136px -659px;
	}
	&.send-location-icon{
		background-position: -195px -955px;
	}
	&.show-screen-icon{
		background-position: -136px -703px;
	}
	&.change-name-icon{
		background-position: -195px -22px;
	}
	&.group-btn-icon{
		background-position: -192px -247px;
	}
	&.setting-btn-icon{
		background-position: -189px -196px
	}
	&.check-blue-icon-small{
		background-position: -187px -286px;
	}
	&.retake-icon{
		background-position: -187px -315px;
	}
	&.send-icon{
		background-position: -187px -362px;
	}
}
input.form-control {
	&:focus { 
		outline:none; 
		border:0;
		box-shadow:none;
	}
}
.logo{
	text-align: center;
    padding-top: 90px;
}


.main-from{
	max-width:500px; 
	margin:75px auto 30px;
	text-align: center;
	label{
	  font-size:16px;
	  position:absolute;
	  pointer-events:none;
	  left:5px;
	  top:10px;
	  font-weight:300;
	  @include transition(0.2s ease all);
	  color:$input-color;
	}
	input,
    select,
	textarea{
	  resize: none;
	  font-size:16px;
	  padding:20px 10px 3px 5px;
	  display:block;
	  width:340px;
	  border:none;
	  border-bottom:2px solid $input-boder-color;
	  font-weight: 300;
	  &:focus { 
		outline:none; 
	  }
	}
	textarea:invalid ~ label{
		font-size:16px;
		position:absolute;
		pointer-events:none;
		left:5px;
		top:10px;
		font-weight:300;
		@include transition(0.2s ease all);
		color:$input-color;
	}
	input:focus ~ label, input:valid ~ label,
	textarea:focus ~ label, textarea:valid ~ label	{
	  top:-10px;
	  font-size:14px;
	  color:$color-base;
	}
	form{
		margin-bottom: 2rem;
		margin: 0 auto 25px;
	}
	.primary.login{
		margin-bottom: 15px;
	}
	.des{
		font-weight:300
	}
}
.group {
    position: relative;
    margin: 0 auto 22px;
    display: inline-block;
}
/*bottom bar */
.bar{ 
	position:relative; 
	display:block; 
	width:340px; 
	&:before,
	&:after{
		content:'';
		height:2px; 
		width:0;
		bottom:1px; 
		position:absolute;
		background:$color-base; 
		@include transition(0.2s ease all);
	}
	&:before{
		left:50%;
	}
	&:after{
		right:50%;
	}
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after,
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
  width:50%;
}
/*highlight */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight,
textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
/* input animation */
@-webkit-keyframes inputHighlighter {
	from { background:lighten($color-base, 40%); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:lighten($color-base, 40%) ; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:lighten($color-base, 40%); }
  to 	{ width:0; background:transparent; }
}
/*Actions*/
.actions{
	overflow: hidden;
    margin-top: 12px;
	.primary{
		max-width: 340px;
		@include button(#ffffff, #99c1d6, #99c1d6);
		width:100%
	}
	.action-link{
		display: block;
		margin: 15px 0 0;
		&.sign-in {
			text-transform: uppercase;
			font-size:14px;
			font-weight: 500;
			margin-top: 17px;
		}
	}
}
.signin-google{
	text-transform: inherit;
    width: 100%;
    color: 2b70f5;
    letter-spacing: 0;
    border: 1px solid #2b70f5;
    background-color: #ffffff;
	margin-top: 30px;
	position:relative;
	padding-left:55px;
	max-width:340px;
	&:before{
		@include background-icon(8px , -338px);
		content:"";
		position: absolute;
		left: 0;
		top: 0;
		padding: 12px 27px;
		background-color: #2b70f5;
		color: #ffffff;
		@include border-radius(30px 30px 0px 30px);
		@include transition(0.5s ease all);
		height: 100%;
		width: 65px;
	}
	&:hover{
		&:before{
			@include border-radius(30px 0 0px 30px);
		}
	}
}
/*REGISTER*/
.register-step-01{
	.actions{
		> p{
			margin: 15px 0 45px;
		}
	}	
}
.register-step-02{
	.des {
		margin: 0 0 4.7rem;
		padding-top: 10px;
	}
	.actions {
		margin-top: 17px;
	}
}
.forgot-form{
	.des {
		font-size: 18px;
		margin-top: -13px;
		margin-bottom: 47px;
	}
}
.reset-password{
	.des{
		margin-bottom: 50px;
		font-size: 18px;
		margin-top: -5px;
	}
}
/*////////////////////////////////
////////////// LEFT SIDEBAR
///////////////////////////////*/
$left-sidebar-background-color:#eff7fc;
$left-sidebar-color:#2c2c2e;

.sidebar {
    background-color: $left-sidebar-background-color;
}

.team .sidebar {
    background-color: #F9F9F9;
    border-right: 1px solid #EAEDEF;
    box-shadow: 0 0 3px #9C9E9F;
}
.team #sidebar-wrapper-right{
	background-color: #F9F9F9;
	box-shadow:none;
	border-left: 1px solid #EAEDEF;
}
.small-logo {
    max-width: 65px;
    height: auto;
    width: auto;
    margin: 15px auto;
	img {
		display: block;
		width: auto;
		max-width: 100%;
	}
}
.navbar-toggle-content{
	width:100%;
	text-align:center;
}
.navbar-toggle{
	width:35px;
	height:35px;
	@include background-icon(-13px, -22px);
	display:block;
	font-size:0;
	padding:0;
	margin: 0 auto;
	float:none;
}
.avatar-wrap {   
    padding: 10px;
    margin: 10px;
	display: table;
	 border-bottom: 1px solid $border-default-color;
	.title {
		padding-left: 23px;
		display: table-cell;
		vertical-align: middle;
	}
	&.avatar-item{
		border:0;
		margin-bottom: 0;
		padding-bottom: 0;
		.num{
			top: -5px;
			border: 2px solid #fff;
			width: 22px;
			height: 22px;
			padding: 0 5px;
		}
		&.sidebar-icon {
			padding-top: 0;
			margin-top: 0;
		}		
	}
	&.sidebar-icon{
		.avatar{
			overflow:visible;
			
		}
	}
}

.num{
	position:absolute;
	@include border-radius(100%);
	background-color: #fe7000;
	top: 10px;
	right: -4px;
	width: 20px;
	height: 20px;
	padding: 2px 5px;
	font-size: 13px;
	color: #fff;
	text-align: center;
}
.sidebar-nav-content {
    text-align: center;
	.avatar-wrap.avatar-item .avatar{
		display:table-cell;
		cursor:pointer;
	}
}
.avatar-icon{
	@include background-icon(-5px, -75px);
	&.recent{
		background-position:-15px -75px;
	}
	&.contact{
		background-position:-13px -135px;
	}
	&.teams{
		background-position: -8px -185px;
	}
	&.pending{
		background-position: -9px -237px;
	}
	&:hover{
		opacity:0.6;
		cursor:pointer;
	}
}
.avatar {
	display: table-cell;		
	position:relative;
	width: 50px;
	height: 50px;
	display: inline-block;		
	overflow: hidden;
	@include border-radius(10px);
	img{
		max-width:none;
		@include border-radius(10px);
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		&.portrait {
		  width: 100%;
		  height: auto;
		}
	}
	.online,
	.offline{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 16px;
		height: 16px;
		font-size: 0;
		@include border-radius(100%);
		background-color: #ffffff;
		&:after{
			background-color:#006599;
			width:10px;
			height:10px;
			content:"";
			@include border-radius(100%);
			top: 3px;
			left: 3px;
			position: absolute;
		}
	}
	.offline{
		&:after{
			background-color:#ffffff;
			border:1px solid #006599
		}
	}
	&.no-avatar{
		color:#ffffff;
		.fake-img{
			width: 50px;
			height: 50px;
			background-color: $color-base;
			border-radius: 10px;
			text-align: center;
			line-height: 50px;
			position:relative;
			span{
				font-size: 30px;
				/* visibility:hidden; */
				display:block;
				text-transform: uppercase;
				white-space: nowrap;
				padding: 0 14px;
				&:first-letter{
					visibility:visible;
					position:absolute;
					top:50%;
					left:50%;
					margin-right:999999999999999999px;
				}
				
			}
		}
		
		
	}
}
.left-side-bar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
	background-color:$left-sidebar-background-color;
	display:none;
	button{
		background-color:transparent;
		width: 50%;
		border-radius: 0;
		display: inline-block;
		float: left;
		text-align: center;
		padding:7px 0;
		.icon{
			float:none;
		}
		&.active{
			background-color:#d8e3ea
		}
	}
}
#wrapper {
    margin-left: 90px;
    @include transition(0.5s ease all);
	&.toggled {
		margin-left: 270px;
		#sidebar-wrapper {
			width: 270px;
		}
		.title{
			display:table-cell
		}
		#page-content-wrapper {
			 margin-right: -270px;
		}
		.nav-stacked{
			.item{
				padding:0 20px;
				.avatar{
					float:left
				}
				
			}
		}
		.left-side-bar-footer {
			display:block
		}
		.sidebar-nav-content .avatar-wrap.avatar-item .avatar {
			display: block;
		}
		
	}
	&.toggled-right{
		#sidebar-wrapper-right{
			width:270px;
			border-left: 1px solid $input-boder-color;
			.content-view-profile{
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: flex-start;
				align-items: stretch;
				height: 100%;
			}
			.navbar-toggle-content{
				border-bottom:0
			}
		}
		.col-right{
			width: calc(100% - 27% - 270px);
		}
		.chatbox{
			/* width: calc(100% - 270px); */
		}
		.talk-actions{
			.navbar-toggle{display:none}
		}
	}
	.title{
		height:50px;
		white-space:nowrap;
		display:none;
		max-width: 185px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.chatbox{
		//width: calc(100% - 90px);
		width:100%;
		display: flex;
		flex: 2 0 0%;
		flex-direction: column;
		@include transition(0.5s ease all);   
	}
	.avatar-wrap.top{

	}
}
.view-profile{
	.content-view-profile {
		text-align: center;
	}
	.avatar-wrap{
		text-align:center;
		border-bottom:0;
		margin: 0 auto;
	}
	.avatar {
		width: 128px;
		height: 128px;
		&.no-avatar .fake-img{
			width: 128px;
			height: 128px;
			span{
				font-size:85px;
				padding:40px 33px
			}
		}
	}
	.nick-name{
		font-size:18px;
		font-weight:500;
		margin: 13px 0;
	}
	.view-profile-action{
		margin-top:5px;
		button{			
			text-transform: inherit;
			font-size: 13px;
			border-width:1px;
			border-style:solid;
			@include button($button-second-background-color, $button-second-background-color, #ffffff);
			padding: 7px 10px;
			&:hover{
				color:#ffffff
			}
		}
	}
}

#sidebar-wrapper,
#sidebar-wrapper-right {
    z-index: 9999;
    position: fixed;
    left: 270px;
    width: 90px;
    height: 100%;
    margin-left: -270px;
	overflow:hidden;
   @include transition(0.5s ease all);   
   &.sidebar.right {
		right: 0;
		left: auto;
   }
}
#sidebar-wrapper-right{
	left:auto;
	right:0;
	top:0;
	background-color: #eff7fc;	
	width:70px;
	.content-view-profile{
		display:none
	}
	.navbar-toggle-content{
		height: 70px;
		/* border-bottom: 1px solid $border-default-color; */
		padding: 15px;
		.navbar-toggle{
		}
	}
}

#page-content-wrapper {
    padding: 0 15px;
}

/*Page content*/
.col-left {
    border-right: 1px solid $input-boder-color;
	padding: 0;
	width: 27%;
	height: 100vh;
	@media screen and (max-width:768px){
		height:auto
	}
}
.title-icon {
	/* display: inline-block; */
	/* float: right; */
	/* padding: 15px 0; */
}
.add-new-chat {
    display: flex;
    flex: 1;
    align-items: center;
	margin-top: 10px;
}
.title-col{
	border-bottom: 1px solid $input-boder-color;
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 70px;
    flex: 1;
    align-items: center;
	.page-title{
		font-size: 18px;
		font-weight: 500;
		/* display: inline-block; */
		/* float: left; */
		/* line-height: 70px; */
		padding: 0 0 0 15px;
		flex-grow: 1;
	}
	.title-item.avatar-icon {
		width: 40px;
		margin-right: 10px;
		align-items: flex-end;
	}
}
.search-wrapper {
    text-align: center;
    margin: 10px 0 0;
	position: relative;
	display:block;
	overflow:hidden;
	width:100%;
	height: 60px;
	input {
		border: 0;
		height: 50px;
		border-radius: 30px;
		background-color: #f5f5f5;
		width: 93%;
		text-align: center;
		position:relative;
		display: inline-block;
		box-shadow: none;
		
	}
	.action.search {
		position: absolute;
		top: 5px;
		background: none;
		color: #7b95a3;
		left: calc((100% - 120px)/2);
		@include transition(0.5s ease)
	}
	.actions.active{
		.action.search{
			left:30px;
		}
	}
}
/*LIST CHAT*/

.friend, .session-chat, .channel{
	padding: 10px 15px;
	border-bottom: 0;
	display: block;
	float: left;
	width: 100%;
	margin: 0;	
	position:relative;
	&.active{
		background-color:#f7fbfd
	}
	.avatar{
		display: inline-block;
		float: left;
	}
	.status {
		font-size: 14px;
	}
	.nick-name {
		font-weight: 400;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 80%;
	}
	.contact-info{
		display: inline-block;
		vertical-align: middle;
		padding-left: 15px;
		font-weight: 300;
		width: calc(100% - 55px);
		float: left;
		margin-top: 5px;
		text-align: left;
		.header-info {
			display: flex;
			align-items: center;
		}
	}
	.des {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size:14px;
	}
	.time {
		font-size: 12px;
		font-weight: 300;
		color: #7b95a3;
		margin-left: 20px;
	}
	.mess {
		margin: 15px 0;
	}
	&.unread{
		.contact-info{
			font-weight:400
		}
	}
}
.recent-list{
	.contact-info{
		.time{
			position:absolute;
			top: 15px;
			right: 15px;
		}
		.nick-name{
			margin-bottom:5px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 80%;
		}
	}
	.friend{
		&:hover {
			cursor: pointer;
			background-color:#f3f4f4
		}
	}	
}

/*CHATBOX*/
.col-right{
	padding:0;
	width: calc(100% - 27% - 70px);
	height: 100vh;
	@include transition(0.3s ease);
	.chatbox-header,
	.contacbox-header,
	.calling-header{
		width: 100%;
		border-bottom: 1px solid $border-default-color;
		overflow: hidden;
		height: 70px;
		.avatar-wrap {
			width: 100%;
			margin: 0;
			padding: 20px;
			.avatar {
				float: left;
			}
		}
		.friend{
			padding-left:0;
			padding-right:0
		}
	}	
	
}
.talk-list-item{
	.session-chat {
		.time{
			position: static;
			float: left;
			display: inline-block;
			margin-left: 20px;
		}
		.nick-name{
			display: inline-block;
			float: left;
		}
		.mess {
			display: block;
			width: 100%;
			clear: left;
			font-size: 15px;
			> img{
				margin-top:15px;
			}
		}
		.translate {
			.icon{
				@include background-icon(-15px, -398px);
				width: 20px;
				height: 40px;
				border-top: 2px solid #e5eaed;
				margin-top: 10px;
				padding-top: 10px;
				display: inline-block;
				float: left;
			}
			.mess{
				display: inline-block;
				float: left;
				width: 85%;
				clear: none;
				padding: 10px;
				margin-top: 10px;
			}
		}
	}
}
.talk-actions {
    text-align: right;
	position: relative;
    z-index: 101;
	.item{
		display:inline-block;
		height:40px;
		margin-left: 10px;
		&:hover{
			a{ opacity:0.6}
		}
		a{
			font-size:0;			
			width: 30px;
			height: 30px;
			display: inline-block;
			float: none;
		}
		
		&.navbar-toggle{
			a{background:none};
			display:none;
		}
		&:last-child{
			margin-right:10px;
		}
	}
}
.item-setting,
.custom-item{
	display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 20px;
	text-align: left;
	div{
		vertical-align:middle;
	}
	.icon{
		@include background-icon(-135px, -194px);
		width:35px;
		height:35px;
		border-radius:10px;
		background-color: #95aab5;
		margin-right:10px;
		float:left;
	}
	.icon-content{width:35px; height:35px}
	.text {
		text-align: left;
		width: 60%;
		padding:7px 0
	}
	&.your-file,
	&.public-search{
		margin:0;
		padding-top:0;
	}
	&.public-search{	
		.icon{
			background-position:-136px -235px;
		}
	}
	.control{
		padding:5px 0;
		label{margin:0}
	}
}
.custom-item .icon{
	background-color:transparent;
	&.list-icon{background-position:-136px -345px}
	&.file-icon{background-position:-136px -305px}
	&.icon-right{background-position:-136px -267px;}
}

/*slider*/
label.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
  input {display:none;}
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7b95a3;
  @include transition(0.5s ease);
  border:2px solid transparent;
  &:before {
	  position: absolute;
	  content: "";
	  height: 10px;
	  width: 10px;
	  left: 4px;
	  bottom: 3px;
	  background-color: #ffffff;
	  @include transition(0.5s ease);
	}
}

input:checked + .slider {
  background-color: #ffffff;
  border-color:#006599
}

input:focus + .slider {
  box-shadow: 0 0 1px #006599;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background-color: #006599;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.actions{
	&.log-out,
	&.unfriend  {
    margin: auto;
    margin-bottom: 80px;
	.logout-icon{
		@include background-icon(-393px, -955px);
		width:30px;
		height:30px;
		display:block
	}
	.wrap {
		display: table;
		margin: 0 auto;
		cursor:pointer;
		&:hover{
			opacity:0.6
		}
	}
	.icon,
	.text	{
		display: table-cell;
		vertical-align: middle;
	}
	}
	.icon{margin-right:10px}
}
/*TOOLBOX*/
.toolbox{
	border-top:1px solid $border-default-color;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-transform: uppercase;
    background-color: #ffffff;
    z-index: 100;
    bottom: 0;
}
.chat-input__content textarea::-webkit-input-placeholder {color: #acacac}
.chat-input__content textarea::-moz-placeholder {color: #acacac;}
.chat-input__content textarea:-ms-input-placeholder {color: #acacac;}
.chat-input__content textarea:-moz-placeholder {color: #acacac}

.chat-input__content {
	position:relative;
	textarea, input {
		border: 0;
		width: 89%;
		padding: 15px;
		font-size:14px;
		font-weight:300;
		&:active,
		&:focus{
			outline:none;
			box-shadow:none
		}
	}
	.icon{
		position:absolute;
		bottom: 7px;
		right: 30px;
		background:none;
	}
	.emotion-icon{
		@include background-icon(-310px, -949px);
		width:40px;
		height:40px;
		display:block
	}
}

.chat-input-tools-btn{
	position: relative;
    display: inline-block;
    float: left;
    margin: 10px 10px 7px 10px;
	width:30px;
	height:30px;
	.inputfile{
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: none;
	}	
	a{
		display:block;
		width:35px;
		height:35px;
	}
	&:hover{
		.icon-tool{
			opacity:0.6
		}
	}
	.inputfile-container{
		@include background-icon(-25px, -955px);
		width: 30px;
		height: 30px;
		display: block;				
		cursor: pointer;
	}
	&.take-photo{
		@include background-icon(-88px, -955px);
	}
	.send-voice{
		@include background-icon(-142px, -955px);
		width:30px;
		height:30px;
		display: block;
	}
	&.send-location{
		@include background-icon(-195px, -955px);
	}
	&.send-contact{
		@include background-icon(-253px, -955px);
		position:static;
	}

}
/*Void-chat*/
.voice-chat-box,
.sent-contact-box{
	font-size: 14px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    width: 260px;
    background: #ffffff;
    bottom: 60px;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    border-radius: 6px;
    padding: 12px;
    text-align: center;	
	/* .time { */
		/* margin-top: 15px; */
	/* } */
}
.decord-actions {
    display: -webkit-flex; /* Safari */
    display: flex;
	align-items: center;
   .item{
		-webkit-flex: 1;  /* Safari 6.1+ */
		-ms-flex: 1;  /* IE 10 */    
		flex: 1;
		text-align:center;
		&.delete{
			text-align:left;
		}
		&.accept{
			text-align:right
		}
		.icon{
			float:none;
			opacity:0;
			@include transition (0.5s ease)
		}
	}
	.decord-icon{
		display:none;
		width:35px;
		height:35px;		
	}
}
.record-btn {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
	border-radius: 100%;
    border: 1px solid #086aa2;
	cursor:pointer;
	&:after{
		content: "";
		width: 68px;
		height: 68px;
		top: 50%;
		left: 50%;
		background-color: #086aa2;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		position: absolute;
	}
	span{
		color: #fff;
		position: relative;
		line-height: 80px;
		font-size: 12px;
		z-index: 1;
	}
}
.after-rec{
	.record-btn {	
		&:after{
			animation-name: pulse;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		span{
			display:none;
		}
	}
	.decord-actions {
		.icon{
			opacity:1;
		}
	}
}
.void-chat {
    display: flex;
    align-items: center;
	margin: 10px;
	.icon{float:none}
}
.decored-wrap {
    display: inline-block;
}
.decored-bar {
    width: 250px;
    height: 37px;
    border-radius: 18px;
	overflow: hidden;
	position:relative;
	a{
		padding: 9px 12px;
		display: block;
		height: 37px;		
		background-color: #006599;
	}
	
	.time-run{
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width:0;
		a{
			width:250px;
			background-color: #78aecb;
		}
		.time{
			color:blue
		}
	}
	.icon{
		float: left;
		width: 20px;
		height: 20px;
		background-color: #ffffff;
		border-radius: 100%;
		
	}
	.time{
		background-color: #ffffff;
		border-radius: 16px;
		color: #78aecb;
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		display: inline-block;
		float: right;
		position: static;
		width:50px;
		text-align:center
	}
	.line{
		border-bottom: 1px solid #fff;
		height: 1px;
		padding-top: 9px;
		margin-left: 20px;
	}
}
@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(57, 136, 181, 0.4) inset;
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(57, 136, 181, 0.5) inset;
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(57, 136, 181, 0) inset;
	}
}
/*Sent contact*/
form.sent-contact{margin:0}
.sent-contact-box{
	width: 500px;
    min-height: 470px;
	padding: 20px;
	text-transform: capitalize;
	left: 20px;
	height:auto;
	max-height:550px;
}
.sent-contact-box .group-header {    
	text-align: left;
	padding-bottom:15px;
	padding-top: 5px;
	label {
		font-weight: 500;
		width: 100%;
		margin-bottom:15px;
		font-size: 16px;
	}
	a.close-form {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		height: 30px;
	}
	
	.add-member{
		border-bottom:2px solid $border-default-color;
		overflow: hidden;
		.search-person{
			height:auto;
			.chosen-container{
				height: auto;
				margin: 0;
				clear: left;
				float: none;
				.chosen-choices {
					width: auto;
					display: block;
					position: relative;
					bottom: 0;
					background-color: #fff;
					.search-choice{
						
					}
					li {
						height:27px;
						&.search-field{
							input{
								width:auto
							}
						}
						.group{margin:0}
						&.search-field{
							height: 35px;
						}
					}
				}
				
			}
		}
	}
}
.group-footer{
	.page-main-action{
		padding:15px 0 0;
		height:auto;
		text-align: right;
		button{
			width:120px;
			height:35px;
			font-size:14px;
			padding: 9px;
			display: inline-block;
		}
	}
}
.add-users-box{
	@extend .sent-contact-box;
	top: 75px;
    left: auto;
    right: 10px;
    bottom: auto;
}
.col-right .chatbox-header{
	overflow:visible;
	input{
		border-color: transparent;
		outline: none;
		cursor:text;
		border-width:1px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		&:focus{
			border-color: #ddd;
			box-shadow:none;
		}
	}
	.contact-info{
		/* width:auto; */
		button{border:0;padding:0; background:none}
		.nick-name{
			display: flex;			
			overflow: visible;
		}
	}
}

/*send location*/
.sent-location-box{
	width: 500px;
    min-height: 470px;
	padding: 20px;
	text-transform: capitalize;
	left: 20px;
	height:auto;
	max-height:550px;
	font-size: 14px;    
    overflow: hidden;
    position: absolute;
    background: #ffffff;
    bottom: 60px;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    text-align: center;
    margin-top: 15px;
	@media screen and (min-width:768px) and (max-width:992px){
		width:380px;
		
	}
	.group-header{
		text-align: left;
		overflow: hidden;
		a.close-form{
			position: absolute;
			right: 15px;
			top: 15px;
			width: 30px;
			height: 30px;
		}
	}
	.search-wrapper .action.search{
		left:calc((100% - 200px)/2)
	}
	.icon.plane-icon {
		display: inline-block;
		float: left;
		margin: 25px 0;
	}
	.search-wrapper{
		width: calc(100% - 30px);
		float:right;
	}
	.location-name{
		padding: 20px 0;
		text-align: left;
		.icon.map-icon{
			float:left;
			margin-right:10px;
		}
	}
	.location-wrap {
		overflow: hidden;
	}
	.sent-location.popup-search-add {margin-bottom:0}
}
.location-sent {
    display: flex;
    align-items: center;
	max-width: 410px;
	.location-name {
		margin-top: 20px;
	}
	iframe {
		border-radius: 15px;
		box-shadow: 0 0 8px #ddd;
		@media screen and (min-width:768px) and (max-width:992){
			width:240px
		}
		@media screen and (max-width:600px){
			width:240px
		}
		@media screen and (max-width:460px){
			width:190px
		}
	}
}
/*Take a photo*/
.overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(1,1,1,0.5);
	z-index: 100;
	
}
.cammera-box {
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 100px;
    left: 50px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
	z-index:9999;
	@media screen and (min-width:768px) and (max-width:992px){
		width:400px
	}
	@media screen and (max-width:460px){
		width: 300px !important;
		height:400px;
		left: 10px;
		.cam-content{
			height:auto !important
		}
	}
	@media screen and (max-width:560px){
		width:400px
	}
	
	.group-header {
		padding: 15px 0 30px;
		text-transform: capitalize;
		font-size: 18px;
		label{
			font-weight:500;
		}
	}
	.cam-content {
		width: 100%;
		height: 320px;
		overflow: hidden;
	}
	.cam-actions {
		padding: 30px 0;
		text-transform: capitalize;
		font-size: 14px;
		font-weight: 500;
		.to-right {
			float: right;
		}
		.to-left{float:left}
	}
}
/*===============================*/

.change-profile-reponsive{
	display:none
}
.personal-channel{
	display:table;
}
.container {
    width: 100% !important;
    overflow: hidden;
	padding:0;
}
/*CONTACT REQUEST*/
.pending-request{
	overflow:hidden;
	.friend{
		.avatar{
			overflow:visible;
			.num{
				top: -10px;
			}
		}
	}
}
/*FAVORITE*/
.favorite-list,
.all-contact-list,
.pending-wrap,
.add-friend-wrap,
.add-mem-wrap{
	.content{
		.friend .nick-name{
			display: inline-block;
			padding: 10px 0;
		}
	}
}
.favorite-list{
	.content{
		min-height:80px
	}
}
.team-favorite-wrap .search-wrapper .action.search{left:calc((100% - 200px)/2)}
.head {
	background-color: #f5f5f5;
	position: relative;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #95aab5;
	overflow:hidden;
	.title-icon {
		display: inline-block;
		float: right;
		padding: 0;
		position: absolute;
		right: 0;
		top: -6px;
	}
}
.add-contact-wrap{
	.search-wrapper{
		.action.search{
			left:calc((100% - 270px)/2)
		}
	}
}
.contacbox{
	.navbar-toggle{
		margin:20px
	}
}
.ads-wrap {
    text-align: center;
	margin: 30px 0;
	.block {
		margin-bottom:30px;
		.actions{margin-top:30px}
		.action.btn{
			@include button(#7b95a3, #7b95a3, transparent);
			text-transform:capitalize;
			font-size:14px;
			@include border-radius(30px);
			&:hover{
				color:#ffffff
			}
		}
	}
}
/*PENDING PAGE*/
.icon.close {opacity: 0.9;
	&:hover{
		opacity: 0.5;
	}
}
.pending-wrap,
.add-friend-wrap{
	/* width:75% !important; */
	overflow:hidden;
	.friend .contact-info .icon.not-accept-icon{margin-right:25px}
}
/*CREATE YOUR TEAM*/
.team .header .page-title{background-color:#F9F9F9; border-bottom: 1px solid #E2E6EA;}
.header{
	width:100%;
	text-align:center;
	border-bottom: 1px solid $border-default-color;
	height:70px;
	position:relative;
	.page-title{
		font-size:20px;
		font-weight:500;
		line-height: 70px;
		background-color: #eff6fc;
	}
	.btn-close {
		position: absolute;
		top: 25px;
		right: 30px;		
		font-size:0;
		.close{
			font-size:0;
			@include background-icon(-9px, -715px);
			width: 25px;
			height: 25px;
			display:block;
		}
	}
}
.create_form .main-from{max-width:70% !important}
.create_form .main-from .search-person .chosen-container{width:100%;
	 .chosen-choices{width:100% !important}
}

.create_form .main-from .add-member {
	.icon-wrap{top:5px !important}
	.mem-list{
		.avatar{
			width:50px;
			height:50px;
		}
	}
}
.create_form,
.team-pending-form,
.team-add-favorite-form{
	@extend .create-channel-form;
	.main-from{
		max-width:600px;
		min-height: 450px;
		input{
			 border-width:1px;
			 width:100%;
		 }
		 .group{width:100% }
		 .bar{width:100%}
		
		.add-mem-wrap {
			overflow: hidden;
			border: 1px solid $border-default-color;
			@include border-radius(5px);
		}
	}
	.page-main-action{
		position: fixed;
		width: 100%;
		bottom: 0;
	}
	.main-from .create-form .search-person .autocomplate{
		height: 290px;
		border-radius: 6px;
	}
}
.edit-profile-form,
.personal-view-group-profile,
.channel-view-group-profile,
.create_form{
	.main-from{
		max-width:70%;
		overflow: hidden;
		margin-top: 120px;
		input:focus ~ label, input:valid ~ label {
			display:none;
		}
		.first-name,
		.last-name{
			font-weight:400
		}
		select{
			border-width:1px;
			width: 100%;
		}
	}
	.status-select {
		margin: 65px 0;
	}
	.avatar{
		position: relative;
		width: 256px;
		height: 256px;
		overflow: hidden;
		&.no-avatar{
			.fake-img{
				width: 256px;
				height: 256px;
				span{
				    padding: 103px 73px;
					font-size: 150px;
				}
			}
		}
	}
	.change-profile-picture {
		position: relative;
	}
	.change-img {
		position: absolute;
		bottom: -30px;;
		left: calc((100% - 60px)/2);
		width: 60px;
		height: 60px;
		label{
			@include background-icon(-12px, -801px);
			display: block;
			cursor: pointer;
			width: 60px;
			height: 60px;
			position: static;
			margin: 0;
			pointer-events: visible;
		}
		input.inputfile{
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: none;
		}
		
	}
	.group{
		width:100%;
		select{
			width: 100%;
			border-width:1px;
			&:hover,
			&:focus{
				outline:none
			}
		}
		input{
			border-width: 1px;
			width: 100%;
			padding: .5rem .75rem;
			box-shadow: none;
		}
		.bar{width:100%}
	}
}
a.change-pass-link {
    text-decoration: underline;
    float: right;
    cursor: pointer;
	@include link-color($color-base)
}
.personal-view-group-profile{
	label.switch{margin-top:-20px}
	.main-from{
		max-width:70%;
	}
}
.group-info-coll {
    text-align: left;
	.sub-title-group{
		display: flex;
		flex: 1;
		padding-bottom: 20px;
		border-bottom: 1px solid $border-default-color;
		
	}
	.icon-wrap {
		margin-left: auto;
		width: 30px;
		height: 30px;
		.icon{
			width:30px;
			height:30px;
			display: block;
			&.add-friend-icon{					
				@include background-icon(-9px, -666px);					
			}
			&.locked-icon{
				@include background-icon(-87px, -77px);
			}
		}
	}
	.group-name{margin-bottom: 50px;}
	.num-mem-current{		
		a{
			color:#333333;
			&:before{
				content:"";
				width:25px;
				height:25px;
				@include background-icon(-89px, -17px);	
				display: inline-block;
			}
			&.expanding{
				&:before{
					@include background-icon(-136px, -17px);	
				}
			}
		}
		
		
	}
	 .setting-item{
		padding: 0;
		margin-top: 20px;
		text-align: left;
		display: flex;
		flex: 1;
		align-items: center;
		.icon{
			margin-right:30px;
			background-color:#95aab5;
			width: 35px;
			height: 35px;
			border-radius: 10px;
			cursor:default;
			&:hover{opacity:1}
		}
		&.notifications-setting {
			.icon{
				background-position:-135px -194px
			}
		}
		&.chat-history{
			.icon{
				background-position:-66px -716px;
			}
		}
		.title {
			flex-grow: 4;
		}
		&.translate{
			.icon{
				background-position:-133px -492px;				
			}
			
		}
		&.add-participant{
			.icon{
				background-position:-133px -444px;				
			}
		}
		&.delete-chat{
			.icon{
				background-position:-134px -391px;				
			}
		}
	}
	.admin {
		display: flex;
		flex: 1;
		align-items: flex-end;
		.icon-wrap{margin-left:0; margin-right: 35px;}
	}
	label{pointer-events: visible;}
	.participant-group {
		overflow: hidden;
		padding: 20px 0;
		border-bottom: 1px solid $border-default-color;
		.friend {
			display: inline-block;
			width: auto;
			width: 50%;
			.avatar{
				width: 50px;
				height: 50px;
			}
		}
	}
}
.add-mem-wrap{
	.friend.active{
		.checked-icon{display:block;margin-top: 5px;}
	}
}
.user-des {
    font-size: 16px;
    margin-top: 30px;
}
.page-main-action {
    height: 90px;
    text-align: center;
    border-top: 1px solid $border-default-color;
    padding: 30px;
	background-color: #ffffff;
	button{
		font-size: 16px;
		text-transform: capitalize;
		padding: 10px 40px;
		width: 200px;
		height: 45px;
		border-width: 1px;
		border-style: solid;
		&.second-btn{
			@include button($button-second-background-color, $button-second-background-color, #ffffff);
			margin-right:30px;
		}
		&.default-btn{
			@include button(#ffffff, $button-default-background-color, $button-default-background-color)
		}
	}
}
/*Add new chat*/
.chatbox-header.search-person-box{
	overflow:visible
}
.search-person {
	position:relative;
	height: 70px;
	input {
		height: 100%;
		border: 0;
		box-shadow: none;
		outline: none;
	}
	.autocomplate {
		position: absolute;
		top: 75px;
		left: 20px;
		width: 340px;
		height: 460px;
		z-index: 10;
		background-color: #fff;
		float: left;
		box-shadow:0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 15px rgba(0, 0, 0, 0.3);
		.list{
			margin:5px 0;
			.item{
				padding: 9px 15px;
				display: block;
				width: 100%;
				overflow: hidden;
				.friend{
					display:flex;
					padding:0;
					.nick-name{padding:10px 0}
				}
				&:hover{
					background-color:#eff7fc
				}
			}
		}
	}
	.chosen-container {
		margin-left: 8px;
		height: 100%;
		position: relative;
		display: block;
		float: left;
		.chosen-choices{
			background: transparent;
			width: 9999px;
			padding: 1px 5px;
			margin: 0;
			border: none;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			vertical-align: top;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			li{	
				height:40px;
				display: block;
				float: left;
				margin: 2px 5px 2px 0;
				input{
					height: 100%;
					line-height: 30px;
					font-size: 15px;
					width: 457px;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #acacac;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: #acacac;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: #acacac;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: #acacac;
					}
				}
			}
			.search-choice{
				padding: 3px;
				margin-top: 0px;
				background: $color-base;
				height: 100%;
				margin-bottom: 0px;
				border-radius: 6px;
				-webkit-border-radius: 6px;
				font-size: 14px;
				display: flex;
				color:#ffffff;
				margin-bottom:5px;
				.icon{
					width: 20px;
					height: 20px;
				}
				.name {
					padding: 2px 25px 0px 3px;
				}
			}
		}
	}
}
/*Audio Call*/
.audio-call-content{
	background-image:url(../image/bg-audio-call.jpg);
	background-position: 0 0;
	background-repeat:repeat-x;
	height: 100%;
    background-size: 100% 100%;
	text-align:center;
	.avatar {
		width: 200px;
		height: 200px;
		border: 2px solid #ffffff;
		margin: 100px auto 0;
	}
	
}
.toolbox-call {
	text-align: center;
    margin-bottom: 125px;
    margin-top: auto;
	.tool-list{
		width: 320px;
		height: 70px;
		border-radius: 10px;
		background-color: #373d4b;
		margin: 0 auto;
		display: flex;
		li{
			flex: 1;
			align-items: center;
			padding: 20px;
			&:first-child{
				border-radius:10px 0 0 10px;
			}
			&:last-child{
				border-radius:0 10px 10px 0;
			}
		}
		.tool-item{
			&.active{
				background-color:#EFF6FC
			}
		}
	}
}
.calling-header{
	background-color:$color-base;
	color:#ffffff;
	border-bottom-color:#317da4 !important;
	display:flex;
	div {
		flex: 1;
	}
	.top-info {
		padding: 15px 40px;
		.name{font-size:16px; font-weight:500; margin-bottom: 5px;}
		.call-status{font-size:14px}
	}
	.top-mess-icon{
		padding:15px
	}
}
/*Incomming call*/
.incomming-call-wrap {
    width: 325px;
    height: 450px;
    position: absolute;
    bottom: 115px;
    left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.35);
	background-size: initial;
    background-position: -50% 100%;
	background-image:url(../image/bg-audio-call.jpg);
	display: flex;
    flex-direction: column;
    text-align: center;
	.avatar{
		width: 130px;
		height: 130px;
		border-radius: 25px;
		margin: 35px auto 0;
	}
	.nick-name {
		color: #ffffff;
		margin-top: 23px;
	}
	.toolbox-call .tool-list {
		width: 160px;
	}
	.incomming-bottom {
		margin: 50px auto;
		margin-bottom: 0;
		.toolbox-call{
			margin-bottom:0
		}
	}
}
.incomming-head {
    color: #ffffff;
    display: flex;
	.title{
		display: block !important;
		flex-grow: 2;
		text-align: left;
		padding: 20px;
		font-weight: 500;
	}
	.btn-close {
		padding: 12px;
	}
}
/*Single Call*/
.audio-call-content.single{
	@extend .audio-call-content;
	background-image:url(../image/bg-single-call.jpg);
}
.single-call-content .toolbox-call .tool-list li{
	&:first-child {
		background-color: #eff7fc;
		border-radius:10px 0 0 10px
	}
	&:nth-child(2){
		background-color: #eff7fc;
	}
}
/*after call*/
.call {
    display: flex;
	margin-top:-10px;
	.mess{
		margin: 5px;
		font-size: 14px !important;
		font-weight: 400;
		a {
			float: left;
			display: block;
			width: 100%;
			margin: 5px 0 0;
			@include link-color($color-base);
			font-weight:400
		}
		.call-time{font-weight:300}
	}
}

/*Change password*/
.change-pass .page-main-action{
	position:fixed;left:0;bottom:0; width:100%;border-top: 0;
	button{
		width:150px;
	}
}
/*Create Channel*/
.create-channel-form .main-from {
	max-width: 700px;
	margin-top: 45px;
	margin-bottom:60px;
	.group{
		width:100%;
		input,
		textarea,
		.bar{
			width:100%
		}
		textarea{
			height:145px
		}
		&.area {
			margin-bottom: 35px;
		}
	}
	.status-setting {
		margin-bottom: 30px;
		> .control {
			display: flex;
			align-items: center;
			margin-bottom:20px;
			.title{
				text-transform: capitalize;
				flex-grow: 0.3;
				text-align: left;
			}
			label{
				pointer-events: visible;
			}
		}
		p{font-size:15px; font-weight:300; text-align:left}
	}
	label.switch {
		position: relative;
		left: 0;
		top: 0;
	}
	.add-member {
		position: relative;
		.icon-wrap{
			position:absolute;
			right:10px;
			top:10px;
		}
	}
	.search-person .chosen-container{
		margin-left:0;
		height: auto;
		.chosen-choices {
			width:700px;
			border-bottom: 2px solid #ebebeb;
			position: relative;
			top: 0;
			transform: translate(0);
			li {
				input {
					font-size: 16px;
					width: 100%;					
					padding: 5px;
					&::-webkit-input-placeholder {color: #2c2c2e;}
					&::-moz-placeholder {color: #2c2c2e}
					&:-ms-input-placeholder {color: #2c2c2e}
					&:-moz-placeholder { color: #2c2c2e;}
				}
				&.search-choice{
					width:auto;
					height: 27px;
					.name{padding:3px 5px}
					span{white-space:nowrap}
				}
			}
		}
	}
	.search-person .autocomplate{
		position: relative;
		height: 400px;
		width: 100%;
		display: none;
		top: 0px;
		left: 0;
	}
}
/*Channel Form*/
.channel .total-member {
    font-size: 14px;
}
.channel-view-group-profile,
.personal-view-group-profile {
	.main-from{
		margin-top:30px;
		margin-bottom: 100px;
		min-height: 345px;
		.group-info-coll{
			padding-left: 25px;
			h2{margin-top:0}
			.sub-title-group{margin-top:8px}
			.participant-group{
				.delete-friend {
					position: absolute;
					right: 45px;
					top: -9px;
					display: none;
				}
				.friend {
					&:hover{
						cursor:pointer;
						.delete-friend{display:block}
					}
				}
			}
			.admin .icon-wrap{margin-right:15px;}
		}
	}
	.page-main-action{
		.log-out,
		.unfriend{
			.wrap{margin-right:15%}
		}
		.unfriend{
			.wrap{margin-right:15%; display:table;cursor:pointer;float:right}
		}
	}
}
/*contact-sent*/

.talk-list-item .session-chat .contact-sent{
	display: flex;
    align-items: center;
	.mess{
		margin:0;
		display:flex;
	}
	.icon{margin-right: 10px;}
	.avatar{width:80px; height:80px}
	.contact-info{
		a{
			display:block;
			float:left;
			width: 100%;
			margin: 5px 0 0;
			@include link-color($color-base);
			font-weight:400;
			font-size:14px;
		}
	}
}
/*video call*/
.video-content,
.audio-call-content {
    position: relative;
	height: 100%;
    display: flex;
    flex-direction: column;
	.show-screen-icon{
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 2;
		&.show{
			transform:rotate(-180deg)
		}
	}
	.show-webcam {
		width: 300px;
		height: 200px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
	}
	
}
.single .video-content{
	.video-panel{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: auto;
		left: -1px;
		right: -1px;
		top: -1px;
		bottom: -1px;
		video{
			height:100% !important;
		}
	}
}
.video-call-content.normal {
	text-align:center;
	background-color:$color-base;
	height:100%;
	.avatar	{
		width: 200px;
		height: 200px;
		border: 2px solid #ffffff;
		margin: 100px auto 0;
	}
}
.incomming-call-wrap.video{
	background-image:none;
	background-color:$color-base;
}
.chat-while-video-call {
    height: 0;
	opacity: 0;
	visibility: hidden;
	@include transition(0.5s ease);
	/* .toolbox{ */
		/* position:absolute; */
		/* bottom:0 */
	/* } */
	&.show{
		height: 300px;
		opacity:1;
		visibility:visible;
	}
	@media screen and (max-width:767px){
		position:relative
	}
}
@media screen and (min-width:768px){
.video-call-content,
.audio-call-content {
    overflow: hidden;
	position: relative;
	@include transition(0.5s ease);
	margin-top: 70px;
	&.toggled{
		margin-top: -300px;
	}
	
}
.video-call-form,
.audio-call-form {
	height:100%;
	.calling-header{
		position: fixed;
		top: 0;
		width: calc(100% - 27% - 135px);
		z-index: 999;
	}
}
.single .toolbox-call {
    position: absolute;
    width: 100%;
    bottom: 0;
}
}
/*video call group*/
.video-call-form{
	height:100%;
	.video-call-content {
		background-color:$color-base;
		height:100%;
		.video-content{height:100%}
		.group-cam {
			margin: auto;
			margin-bottom: 0;
			text-align: center;
			.screen{
				padding: 1px;
				float: none;
				display: inline-block;
			}
		}
	}
}
.video-call-form.group{display:block}
/*plans-form*/

.plans-form {
	margin-top: 50px;
	text-align: center;
	
	.pricing-item {
		text-align: center;
		display: flex;
		padding: 20px 15px;
		flex: 1;
		.table-head {
			padding: 15px;
			color: #ffffff;			
			border-radius: 3px 3px 0 0;
			.title{
				h3{
					font-size:26px;					
					font-weight: bold;
					margin: 0 0 7px;
				}
			}
			.price{
				margin-bottom: 18px;
				margin-bottom: 18px;
				color: #eaeef0;
				font-size: 12px;
			}
			.limit {
				font-size: 14px;
				color: #eaeef0;
				margin-bottom: 7px;
			}
			.focus-price {
				display: inline-block;
				font-size: 26px;
				font-weight: bold;
				color:#ffffff;
				padding: 0 5px;
			}
		}
		&.starter{
			.table-head{
				background:#1c80e2
			}
			.price{
				font-size:26px;
				font-weight:bold;
				color:#ffffff
			}
			.table-price-wrap{
				.content {
					.btn{
						border-color:#1c80e2;
						color:#1c80e2;
						&:hover{
							background:#1c80e2;
							color:#ffffff;
						}
					}
				}
			}
		}
		&.startup{
			.table-head{
				background:#249a68
			}
			.table-price-wrap{
				.content {
					.btn{
						border-color:#249a68;
						color:#249a68;
						&:hover{
							background:#249a68;
							color:#ffffff;
						}
					}
				}
			}
		}
		&.enterprice{
			.table-head{
				background:#e74737
			}
			.table-price-wrap{
				.content {
					.btn{
						border-color:#e74737;
						color:#e74737;
						&:hover{
							background:#e74737;
							color:#ffffff;
						}
					}
				}				
			}
		}
		&.active{
			.table-price-wrap{
				border-width:3px;
				.fa-check{
					opacity:1
				}
			}
			&.starter{				
				&.active{
					.table-price-wrap{
						border-color:#1c80e2;
						.fa-check{
							border-color:#1c80e2;
							color:#1c80e2;
						}
					}
				}
				
			}
			&.startup{				
				&.active{
					.table-price-wrap{
						border-color:#249a68;
						.fa-check{
							border-color:#249a68;
							color:#249a68
						}
					}
				}
				
			}
			&.enterprice{				
				&.active{
					.table-price-wrap{
						border-color:#e74737;
						.fa-check{
							border-color:#e74737;
							color:#e74737
						}
					}
				}
				
			}
		}
	}
	.plans-wrap{
		overflow: hidden;
		display: inline-block;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		flex: 1;
		@media screen and(max-width:767px){
			display:block;
			.table-price-wrap{
				margin-bottom:30px;
			}
		}
		@media screen and(min-width:1200px){
			width:1200px
		}
		@media screen and(min-width:993px) and (max-width:1199px){
			width:995px
		}
		@media screen and(min-width:768px) and (max-width:992px){
			width:770px
		}
	}
	.table-price-wrap {
		border: 1px solid $border-default-color;
		border-radius: 5px;
		box-shadow: 0 0 5px #e6e6e6;
		max-width: 245px;
		margin: 0 auto;
		width: 100%;
		font-family: 'Lato', sans-serif;
		position: relative;
		.content {
			padding: 25px;
			.btn-wrap {
				margin-top: 23px;
				.btn {
					background: #ffffff;
					border-width: 1px;
					border-style: solid;
					border-radius: 30px;
					font-size: 12px;
					padding: 8px 25px;
					font-weight: bold;
					@include transition(0.5s ease)
				}
			}
		}
		.fa-check {
			position: absolute;
			top: -15px;
			right: -15px;
			width: 35px;
			height: 35px;
			background: #fff;
			border-radius: 100%;
			line-height: 30px;
			border: 3px;
			border-style: solid;
			opacity:0
		}
	}
}
.plans-footer {
	font-family: 'Lato', sans-serif;
    margin: 50px 0;
    float: left;
    text-align: center;
    width: 100%;
	h4{
		color:#006599;
		margin-bottom:20px;
		text-transform: uppercase;
		font-weight: bolder;
	}
	ul {
		width: 70%;
		margin: 0 auto;
		@media screen and(max-width:460px){
			text-align:left
		}
	}
	li {
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 15px;
		a{
			color:#7d7d7d;
			font-size:14px;
			&:hover{
				color:$color-base
			}
		}
		.icon{
			height: auto;
			float: left;
			width: 20px;
		}
	}
}
.plans-control {
    width: 320px;
    height: 40px;
    border-radius: 30px;
    background: #e7eaec;
    border: 1px solid #e1e1e1;
    margin: 17px auto 61px;
	position:relative;
	@media screen and(max-width:360px){
		width:285px
	}
	.item {
		display: inline-block;
		width: 50%;
		float: left;
		padding: 10px;
		text-transform: uppercase;
		color: #959595;
		position: relative;
		span {
			position: relative;
			z-index: 1;
		}
		&.active{
			color:#ffffff;
		}		
	}
	.btn-control{
		background-color:$color-base;
		width: 47%;
		top: 5px;
		left: 5px;
		border-radius: 30px;
		height: 28px;
		position: absolute;
		@include transition(0.5s ease)
	}
}
.billing-wrap {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
	padding: 50px 0 0;
	@media screen and (min-width:1200px){		
		display: flex;
		align-items: baseline;
	}
	@media screen and (min-width:768px) and (max-width:1199px){
		width:100%
	}
	@media screen and (max-width:767px){
		.item{text-align:left}
	}
	label{font-weight:500}
	select {
		border: 0;
		outline: none;
	}
	.total{
		label{
			color:#229B68
		}
	}
	button{
		background: #ffffff;
		border:1px solid #229B68;
		color:#229B68;
		border-radius: 30px;
		font-size: 12px;
		padding: 8px 25px;
		font-weight: bold;
		@include transition(0.5s ease);
		&:hover{
			background: #229B68;
			color:#ffffff;
		}
	}
	.item{
		margin-bottom:15px;
		height: 40px;
		padding: 10px 0;
		&.btn-process{padding:0}
	}
}
/*plans -popup*/
.pop-up-payment {
    width: 30%;
    height: auto;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    top: calc((100% - 400px)/2);
    left: 35%;
    position: absolute;
    z-index: 9999;
    min-height: 500px;
}
.pay-header {
    padding: 15px;
    background-color: #E8E9EC;
    position: relative;
	border-radius: 5px 5px 0 0;
	h4 {
		font-weight: 300;
	}
	
	.btn-close{
		position: absolute;
		top: 10px;
		right: 10px;
		.close{
			border-radius:100%;
			border:1px solid $border-default-color;
			background:none;
			background-color: #C0C0C2;
			color: #fff;
			font-weight: 300;
			font-size: 16px;
			width: 25px;
			height: 25px;
			line-height: 20px;
		}
	}
	&:after{
		width: 70px;
		height: 70px;
		background-color: #539D21;
		background-image: url(../image/shop.png);
		content: "";
		position: absolute;
		top: -35%;
		left: calc((100% - 70px) / 2);
		background-size: 60%;
		background-repeat: no-repeat;
		border-radius: 100%;
		background-position: 14px 14px;
		border: 2px solid #ffffff;
	}
}
.pay-body {
    padding: 45px 15px;
	input {
		height: 35px;
		padding: 5px 10px 5px 40px;
		width: 100%;
		border: 1px solid $border-default-color
	}
	.email-pay {
		margin-bottom: 20px;
		input{
			position:relative;
			&:before{
				font-family:'FontAwesome';
				content:"\f003";
				position:absolute;
			}
		}
	}
	.input-date {
		width: 50%;
		display: inline-block;
		float: left;
		input{
			border-right:0;
		}
		
	}
	.input-cvc {
		width: 50%;
		display: inline-block;
	}
	.input-number-card{
		input{
			border: 1px solid $border-default-color;
			border-bottom: 0;
		}
	}
	.remember-login {
		margin-top: 25px;
		border: 1px solid $border-default-color ;
		padding: 10px;
		text-align: left;
		input[type="checkbox"] {
			padding: 0;
			height: auto;
			display: inline-block;
			float: left;
			width: auto;
			margin-right: 10px;
		}
	}
}
.pay-footer {
	padding:15px;
	.btn {
		width: 100%;
		border:1px solid;
		@include button(#ffffff,#30A3E6,#30A3E6 );
		font-weight:500;
	}
}
form.payment-form div {
    position: relative;
	.fa{
		position:absolute;
		left:10px;
		top:9px;
		z-index:1;
		color:#539D21
	}
}
@media screen and (min-width:768px){
	.main-from.create-form {
		margin-top: 120px;
	}
}
@media screen and (min-width:768px) and (max-width:992px){
	.title-col .page-title{
		font-size:14px;
	}
	.friend {
		.nick-name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	#wrapper.toggled-right {
		#sidebar-wrapper-right{
			width: 170px;
		}
		.chatbox {
			/* width: calc(100% - 170px); */
		}
	}
	#wrapper.toggled {
		margin-left: 250px;
		#sidebar-wrapper {
			width: 250px;
		}
	}
	#wrapper.toggled-right{
		.col-right{
			width:calc(100% - 27% - 170px)
		}
		.notifications-setting,
		.public-search{
			padding:15px 10px;
			div{
				font-size:14px
			}
			.icon{
				display:none;
			}
		}
	}
	.ads-wrap{margin:0}
	.favorite-list,
	.all-contact-list	{
		.content .friend .nick-name{
			display:block;
			padding:0;
		}
	}
	.col-left .friend .contact-info .icon-wrap {
		display: block;
		float: left;
		margin-top: -10px;
		margin-left: -7px;
	}
	.edit-profile-form .main-from{max-width:70%}
	.edit-profile-form .avatar, 
	.personal-view-group-profile,
	.channel-view-group-profile{
		.avatar{
			width: 156px;
			height: 156px;
		}
	}
	.item-setting .text{padding:0; margin-right:10px}
	.sent-contact-box {
		left: auto;
		right: 55%;
	}
	.add-users-box{right:5px}
}
@media screen and (min-width:768px) and (max-width:1100px){
	.friend {
		.time{
			position:static
		}
	}
	.recent-list .contact-info .time{position:static; margin:0}
	
}
@media screen and (min-width:993px) and (max-width:1199px){
	.personal-view-group-profile,
	.channel-view-group-profile{
		.avatar{
			width: 190px;
			height: 190px;
		}
	}
}
.navbar-toggle.mobile{display:none}
@media screen and (max-width:767px){
	.container{padding:0 15px; overflow:visible;overflow-x: hidden;}
	.navbar-toggle.mobile{display:inline-block; margin-left: 20px;}
	.main-from input{width:100%}
	.group{width:80%}
	.signin-google{font-size:14px}
	.recent-conversation{overflow:visible}
	.col-left,
	.col-right{width:100% !important}
	.search-wrapper .action.search{display:none;}
	#page-content-wrapper {padding: 0;}
	.friend .time{position:static;}
	.recent-list .contact-info .time{position:static; margin:0}
	.col-right .chatbox-header, .col-right .contacbox-header, .col-right .calling-header{height:auto}
	#wrapper.toggled {
		.change-profile-reponsive,
		.personal-channel{
			display:block
		}
		.avatar-wrap.top{
			width:100%;
			text-align:center;
			margin:0;
			.title {
				display: block;
				padding: 0;
				margin-top: 10px;
				height: auto;
			}
		}
		#sidebar-wrapper{
			width:250px;
			left:250px;
			margin-left: -250px;
		}
		#page-content-wrapper{
			margin-right: -250px;
			width: 100%;
		}
		.title-col{
			.navbar-toggle.mobile{display:none}
		}
	}
	.sidebar.view-profile{
		display:none
	}
	.talk-list-item{
		.friend .contact-info{
			width:100%
		}
	}
	.chat-input-tools-btn	{
		    margin: 10px 7px;
	}
	.chat-input__content .icon{right:12px}
	.col-right {
		.chatbox-header, 
		.contacbox-header{
		    border-top: 2px solid $color-base;
			background: #fff;
		}
	}
	.favorite-list,
	.all-contact-list,
	.pending-wrap,
	.add-friend-wrap{
		.content .friend .nick-name{
			padding:0
		}
	}
	.friend .contact-info .icon-wrap{margin-top:-10px}
	.pending-wrap,
	.add-friend-wrap{width:100% !important}
	.page-main-action {
		button{
			display:block; 
			margin:10px auto;
			&.second-btn{
				margin-right:auto
			}
		}
	}
	.header .btn-close{
		right:10px
	}
	.edit-profile-form .main-from {
		max-width: 100%;
		overflow: hidden;
		margin-top: 50px;
	}
	.personal-view-group-profile,
	.channel-view-group-profile	{
		.main-from {
			max-width: 70%;
			margin-top: 30px;
		}
	}
	/*audio call*/
	.calling-header .top-info {
		padding: 15px;
	}
	.audio-call-content,
	.single-call-content{
		.toolbox-call .tool-list{
			width:255px;
			li{
				padding:20px 10px;
			}
		}
		.avatar{width:170px;height:170px}
	}
	/*======================*/
	#sidebar-wrapper{
		left:0
	}
	#wrapper{margin:0}
	.create-channel-form .main-from,
	.create-form .main-from{ max-width: 90%;}
	.create-channel-form .main-from .search-person .chosen-container .chosen-choices{max-width: 767px;min-width: 500px;	width:100%}
	.channel-view-group-profile .main-from .group-info-coll h2{margin-top:30px}
	.personal-view-group-profile .main-from .group-info-coll{margin-top:20px;}
}
@media screen and (max-width:600px){
	.create-channel-form .main-from .search-person .chosen-container .chosen-choices {min-width: 336px;margin-top: 30px;}
	.create-channel-form .main-from .add-member{margin-top: 30px;}	
	.sent-contact-box, .add-users-box {width: 360px}
}
@media screen and (max-width:460px){
	.pending-wrap .friend .contact-info .icon-wrap{margin-top: -5px;float: left;margin-left: -5px;}
	.add-friend-wrap .friend .contact-info .icon-wrap {margin-top: -5px;float: left;}
	.personal-view-group-profile,
	.channel-view-group-profile	{
		.main-from {max-width: 100%}
	}
	.audio-call-content,
	.single-call-content{
		.toolbox-call .tool-list{
			width:210px;
		}
	}
	.calling-header .top-info{flex-grow: 2;}
	.create-channel-form .main-from .search-person .chosen-container .chosen-choices {min-width: 285px}	
	.create-channel-form .main-from .add-member{margin-top: 75px;}
	.sent-contact-box, .add-users-box {width: 280px}
	.group-footer .page-main-action {
		width:100%;
		button{width:90px}		
	}
	
}
